/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
/*
 * Body
 */
/* line 17, ../sass/pages.scss */
body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  color: #505050;
}

/* line 25, ../sass/pages.scss */
input,
textarea {
  color: #505050;
  border: 1px solid #efefef;
  resize: none;
}

/* line 32, ../sass/pages.scss */
.grippie,
.filter-wrapper {
  display: none;
}

/* line 36, ../sass/pages.scss */
p {
  margin: 0;
}

/* line 41, ../sass/pages.scss */
.tf-region form .actions {
  position: absolute;
  right: 2%;
  bottom: 5px;
}
/* line 48, ../sass/pages.scss */
.tf-region input[value=Edit],
.tf-region input[value=Add],
.tf-region input[value=Cancel] {
  border: 0;
  padding: 0;
  background: url(../images/sprites.png) no-repeat;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  float: right;
}
/* line 58, ../sass/pages.scss */
.tf-region input[value=Cancel] {
  background-position: -62px -203px;
}
/* line 63, ../sass/pages.scss */
.tf-region input[value=Edit],
.tf-region input[value=Add] {
  background-position: -154px -535px;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
/* line 73, ../sass/pages.scss */
#skip-link {
  margin: 0;
}
/* line 77, ../sass/pages.scss */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
/* line 94, ../sass/pages.scss */
#logo {
  /* Wrapping link for logo */
  float: left;
  /* LTR */
  margin: 0;
  padding: 0;
}
/* line 99, ../sass/pages.scss */
#logo img {
  vertical-align: bottom;
}

/* line 104, ../sass/pages.scss */
#name-and-slogan {
  /* Wrapper for website name and slogan */
  float: left;
}

/* line 108, ../sass/pages.scss */
#site-name {
  /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
}
/* line 114, ../sass/pages.scss */
#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}
/* line 120, ../sass/pages.scss */
#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

/* line 125, ../sass/pages.scss */
#site-slogan {
  /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

/* line 130, ../sass/pages.scss */
.region-header {
  /* Wrapper for any blocks placed in the header region */
  clear: both;
  /* Clear the logo */
}

/*
 * Main (container for everything else)
 */
/*
 * Content
 */
/* line 151, ../sass/pages.scss */
.breadcrumb {
  /* The path to the current page in the form of a list of links */
}
/* line 152, ../sass/pages.scss */
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
/* line 156, ../sass/pages.scss */
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 169, ../sass/pages.scss */
h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title {
  /* Comment title */
  margin: 0;
}

/* line 173, ../sass/pages.scss */
tr.even {
  /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 177, ../sass/pages.scss */
h2, h3 {
  color: #43698f;
}

/*
 * Dashboard
 */
/* line 188, ../sass/pages.scss */
#block-menu-menu-dashboard ul.menu {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
/* line 192, ../sass/pages.scss */
#block-menu-menu-dashboard ul.menu li {
  overflow: hidden;
  float: left;
  list-style-type: none;
  list-style-image: none;
  text-align: center;
  width: 25%;
}
/* line 199, ../sass/pages.scss */
#block-menu-menu-dashboard ul.menu li a {
  display: block;
  margin: auto;
  color: #ff7f1b;
  text-decoration: none;
  font-size: 1.5em;
}

/* line 214, ../sass/pages.scss */
.page-dashboard #block-menu-menu-dashboard ul.menu li {
  width: 33.333%;
}
/* line 217, ../sass/pages.scss */
.page-dashboard #block-menu-menu-dashboard ul.menu a {
  background: url(../images/sprites.png) no-repeat;
  width: 190px;
  padding-top: 140px;
  height: 30px;
}
/* line 223, ../sass/pages.scss */
.page-dashboard #block-menu-menu-dashboard ul.menu li:nth-child(1) {
  display: none;
}
/* line 226, ../sass/pages.scss */
.page-dashboard #block-menu-menu-dashboard ul.menu li:nth-child(2) a {
  background-position: -780px -518px;
}
/* line 229, ../sass/pages.scss */
.page-dashboard #block-menu-menu-dashboard ul.menu li:hover:nth-child(2) a {
  background-position: -973px -518px;
}
/* line 232, ../sass/pages.scss */
.page-dashboard #block-menu-menu-dashboard ul.menu li:nth-child(3) a {
  background-position: -780px -159px;
}
/* line 235, ../sass/pages.scss */
.page-dashboard #block-menu-menu-dashboard ul.menu li:hover:nth-child(3) a {
  background-position: -971px -159px;
}
/* line 238, ../sass/pages.scss */
.page-dashboard #block-menu-menu-dashboard ul.menu li:nth-child(4) a {
  background-position: -780px -335px;
}
/* line 241, ../sass/pages.scss */
.page-dashboard #block-menu-menu-dashboard ul.menu li:hover:nth-child(4) a {
  background-position: -973px -335px;
}

/*
 * General
 */
/* line 264, ../sass/pages.scss */
.tf-region.left-sidebar, .tf-region.main {
  float: left;
}

/* line 269, ../sass/pages.scss */
.no-selected {
  min-height: 300px;
  text-align: center;
}

/* line 274, ../sass/pages.scss */
.tf-region.left-sidebar, .left-sidebar a {
  background: url(../images/4px_border.png) repeat-y;
  background-position: 100% 0;
}

/* line 279, ../sass/pages.scss */
.tf-region.left-sidebar {
  width: 25%;
  min-height: 300px;
  background-color: #efefef;
  margin-right: 2%;
}
/* line 285, ../sass/pages.scss */
.tf-region.left-sidebar .header {
  text-transform: uppercase;
  padding: 10px 1%;
  font-weight: bold;
  background: url(../images/title_back.png) repeat-x;
  color: #a1a1a1;
}
/* line 293, ../sass/pages.scss */
.tf-region.left-sidebar .item {
  clear: both;
  border-bottom: 1px solid #a1a1a1;
  position: relative;
}
/* line 299, ../sass/pages.scss */
.tf-region.left-sidebar a {
  height: 40px;
  padding: 10px;
  display: block;
  font-weight: bold;
}
/* line 306, ../sass/pages.scss */
.tf-region.left-sidebar a:hover,
.tf-region.left-sidebar a.active {
  background-color: #FFF;
}
/* line 310, ../sass/pages.scss */
.tf-region.left-sidebar a.active {
  background-image: none;
  background: #fafafa;
}
/* line 314, ../sass/pages.scss */
.tf-region.left-sidebar .subtitle {
  font-size: 14px;
}
/* line 318, ../sass/pages.scss */
.tf-region.left-sidebar .actions {
  overflow: hidden;
  font-size: 12px;
  padding: 0 10px;
  display: none;
  background-color: #fafafa;
}
/* line 324, ../sass/pages.scss */
.tf-region.left-sidebar .actions.active {
  display: block;
}
/* line 327, ../sass/pages.scss */
.tf-region.left-sidebar .actions a {
  float: left;
  width: auto;
  height: auto;
  padding: 0;
  margin-right: 1%;
  border: 0px;
  background: initial;
}
/* line 335, ../sass/pages.scss */
.tf-region.left-sidebar .actions a:hover {
  background: transparent;
}

/* line 344, ../sass/pages.scss */
.tf-region.main {
  clear: right;
  width: 73%;
}

/* line 349, ../sass/pages.scss */
.tf-region.message {
  background: url(../images/sprites.png) no-repeat;
  background-color: #ff7f1b;
  color: #fff;
  padding-left: 32px;
  background-position: -1192px 7px;
  line-height: 32px;
}

/* line 358, ../sass/pages.scss */
.tf-region.content {
  padding: 10px 0;
  position: relative;
}

/* line 365, ../sass/pages.scss */
.tf-module.recruit, .tf-module.manage {
  position: relative;
  overflow: hidden;
}

/* line 374, ../sass/pages.scss */
.tf-region.slide-pane {
  position: absolute;
  top: 0;
  right: -100%;
  width: 80%;
  background-color: #fafafa;
  background-color: rgba(250, 250, 250, 0.97);
  border: 1px solid #fff;
  -moz-transition: right 2s;
  -webkit-transition: right 2s;
  -o-transition: right 2s;
  transition: right 2s;
}
/* line 387, ../sass/pages.scss */
.tf-region.open {
  right: 0%;
}
/* line 393, ../sass/pages.scss */
.tf-region .sp-content {
  position: relative;
  margin-right: 50px;
  padding: 10px;
}
/* line 398, ../sass/pages.scss */
.tf-region .sp-close {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50px;
  background: url(../images/slide_pane_right.png) no-repeat 50% 50%;
  background: url(../images/slide_pane_right.png) no-repeat 50% 10%, url(../images/slide_pane_right.png) no-repeat 50% 50%, url(../images/slide_pane_right.png) no-repeat 50% 90%;
  background-color: #a1a1a1;
  cursor: pointer;
}

/*
 * Edit Role
 */
/*
.edit-role .accordion .ui-icon{
  position: relative;
  float: right;
  margin-right: 10px;
  margin-top: 0px;
}
*/
/*
  Interview
*/
/* line 442, ../sass/pages.scss */
.interview {
  position: relative;
}
/* line 444, ../sass/pages.scss */
.interview .header {
  overflow: hidden;
  padding: 2%;
  -webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
  margin-bottom: 40px;
}
/* line 449, ../sass/pages.scss */
.interview .header .field {
  float: left;
  width: 33%;
}
/* line 454, ../sass/pages.scss */
.interview .header .field-name-title,
.interview .header .date {
  font-size: 1.3em;
}
/* line 457, ../sass/pages.scss */
.interview .header .field-name-title {
  width: 66%;
}
/* line 460, ../sass/pages.scss */
.interview .header .node-person.field-name-title {
  font-size: 1em;
  width: 33%;
}
/* line 464, ../sass/pages.scss */
.interview .header .date {
  width: 33%;
}
/* line 467, ../sass/pages.scss */
.interview .header .field-type-file a {
  background: url(../images/sprites.png) no-repeat;
  padding-left: 32px;
}
/* line 471, ../sass/pages.scss */
.interview .header .field-name-field-cv a {
  background-position: -1200px -170px;
}
/* line 474, ../sass/pages.scss */
.interview .header .field-name-field-cv a:hover {
  background-position: -1200px -231px;
}
/* line 477, ../sass/pages.scss */
.interview .header .field-name-field-motivation a {
  background-position: -1200px -204px;
}
/* line 480, ../sass/pages.scss */
.interview .header .field-name-field-motivation a:hover {
  background-position: -1200px -257px;
}
/* line 484, ../sass/pages.scss */
.interview .print {
  cursor: pointer;
  width: 32px;
  height: 32px;
  background: url(../images/sprites.png) no-repeat;
  text-indent: -9999px;
  line-height: 32px;
  background-position: -65px -631px;
  position: absolute;
  top: 10px;
  right: 2%;
}
/* line 491, ../sass/pages.scss */
.interview .body {
  height: 450px;
  overflow-y: scroll;
  padding: 0 10px 10px 10px;
  margin: 0 -10px 10px -10px;
}
/* line 498, ../sass/pages.scss */
.interview .body .header {
  clear: both;
  padding: 0px;
  box-shadow: none;
  margin: 0;
}
/* line 503, ../sass/pages.scss */
.interview .body .header .field {
  padding: 10px 2%;
  float: none;
  width: auto;
}
/* line 509, ../sass/pages.scss */
.interview .body .field {
  padding-left: 5%;
}
/* line 514, ../sass/pages.scss */
.interview .body .pos-hint,
.interview .body .neg-hint {
  min-height: 105px;
}
/* line 518, ../sass/pages.scss */
.interview .body .question-wrapper {
  margin-bottom: 10px;
  background: #efefef;
  color: #a1a1a1;
  -webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
  position: relative;
}
/* line 527, ../sass/pages.scss */
.interview .body .question-wrapper .more,
.interview .body .question-wrapper .less {
  cursor: pointer;
  width: 32px;
  height: 32px;
  background: url(../images/sprites.png) no-repeat;
  text-indent: -9999px;
  line-height: 32px;
  height: 16px;
  line-height: 16px;
  font-size: 12px;
  color: #a1a1a1;
  bottom: 0px;
  right: 0px;
  position: absolute;
}
/* line 536, ../sass/pages.scss */
.interview .body .question-wrapper .more:hover,
.interview .body .question-wrapper .less:hover {
  font-weight: bold;
}
/* line 541, ../sass/pages.scss */
.interview .body .question-wrapper .less {
  background-position: -90px -525px;
  width: 30px;
  margin-top: -30px;
}
/* line 547, ../sass/pages.scss */
.interview .body .question-wrapper .more {
  background-position: -35px -525px;
  width: 60px;
  display: none;
  text-indent: 0px;
}
/* line 556, ../sass/pages.scss */
.interview .body .question-wrapper.collapsed .answer-body,
.interview .body .question-wrapper.collapsed .less {
  display: none;
}
/* line 559, ../sass/pages.scss */
.interview .body .question-wrapper.collapsed .more {
  display: block;
}
/* line 564, ../sass/pages.scss */
.interview .body .question-wrapper .done {
  display: none;
  position: absolute;
  right: 2%;
  top: 10px;
  font-weight: bold;
}
/* line 571, ../sass/pages.scss */
.interview .body .question-wrapper .done .text,
.interview .body .question-wrapper .done .score {
  float: left;
  margin: 0 0 0 10px;
  cursor: initial;
  color: #fff;
}
/* line 579, ../sass/pages.scss */
.interview .body .question-wrapper.done .done {
  display: block;
}
/* line 584, ../sass/pages.scss */
.interview .body .question-wrapper .field-name-title {
  cursor: pointer;
  background: #a1a1a1;
  color: #efefef;
  font-size: 1em;
}
/* line 591, ../sass/pages.scss */
.interview .body .question-wrapper.activated {
  background: transparent;
  color: #505050;
}
/* line 594, ../sass/pages.scss */
.interview .body .question-wrapper.activated .field-name-title {
  background-color: #ff7f1b;
  color: #fff;
}
/* line 602, ../sass/pages.scss */
.interview .body .answer-body {
  position: relative;
  overflow: hidden;
}
/* line 606, ../sass/pages.scss */
.interview .body .answer-body .col-1,
.interview .body .answer-body .col-3 {
  float: left;
  width: 40%;
}
/* line 610, ../sass/pages.scss */
.interview .body .answer-body .col-1 {
  padding-right: 10%;
}
/* line 613, ../sass/pages.scss */
.interview .body .answer-body .col-2 {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -16px;
}
/* line 619, ../sass/pages.scss */
.interview .body .answer-body .col-3 {
  padding-left: 10%;
}
/* line 624, ../sass/pages.scss */
.interview .body .field-name-field-score {
  display: none;
}
/* line 627, ../sass/pages.scss */
.interview .body .score {
  cursor: pointer;
  width: 32px;
  height: 32px;
  background: url(../images/sprites.png) no-repeat;
  text-indent: -9999px;
  line-height: 32px;
  margin-bottom: 5px;
  background-position: -154px -491px;
  text-align: center;
  color: #a1a1a1;
  text-indent: 0px;
}
/* line 634, ../sass/pages.scss */
.interview .body .score.selected {
  background-position: -189px -491px;
  color: #FFF;
  font-weight: bold;
}
/* line 639, ../sass/pages.scss */
.interview .body .score:hover {
  font-weight: bold;
}
/* line 644, ../sass/pages.scss */
.interview .body form {
  padding-right: 5%;
}
/* line 647, ../sass/pages.scss */
.interview .body .form-item {
  margin: 0;
}
/* line 651, ../sass/pages.scss */
.interview .body textarea {
  height: 110px;
  padding: 10px;
  border: 1px solid #a1a1a1;
}
/* line 656, ../sass/pages.scss */
.interview .body .form-submit {
  width: 38%;
  border: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  color: #FFF;
  text-transform: uppercase;
  background-color: #ff7f1b;
  padding: 1%;
  position: initial;
  text-indent: 0;
  position: absolute;
  bottom: 32px;
  right: 2%;
}
/* line 670, ../sass/pages.scss */
.interview .body .form-submit:hover {
  font-weight: bold;
}

/* line 677, ../sass/pages.scss */
.header,
.body {
  clear: both;
}

/*
 * Campaign details
 */
/* line 687, ../sass/pages.scss */
.campaign-details.prefilled .field-name-field-role-ref {
  display: none;
}

/*
 * Prepare Interview
 */
/* line 701, ../sass/pages.scss */
.prepare-interview h3 {
  margin: 0;
}
/* line 705, ../sass/pages.scss */
.prepare-interview .level {
  right: 90px;
  top: 10px;
}
/* line 710, ../sass/pages.scss */
.prepare-interview .tabs {
  clear: both;
}
/* line 712, ../sass/pages.scss */
.prepare-interview .tabs div {
  float: left;
  cursor: pointer;
  background: #efefef;
  text-transform: uppercase;
  width: 28%;
  text-align: center;
  padding: 10px 2%;
  margin: 10px 2% 10px 0;
}
/* line 721, ../sass/pages.scss */
.prepare-interview .tabs div:nth-child(3) {
  margin-right: 0;
}
/* line 725, ../sass/pages.scss */
.prepare-interview .tabs .active {
  background: #ff7f1b;
  color: #fff;
}
/* line 732, ../sass/pages.scss */
.prepare-interview .role .edit a {
  cursor: pointer;
  width: 32px;
  height: 32px;
  background: url(../images/sprites.png) no-repeat;
  text-indent: -9999px;
  line-height: 32px;
  background-position: -154px -567px;
  position: absolute;
  top: 10px;
  right: 2%;
  display: none;
}
/* line 740, ../sass/pages.scss */
.prepare-interview .role:hover .edit a {
  display: block;
}
/* line 748, ../sass/pages.scss */
.prepare-interview .skills,
.prepare-interview .behavioral,
.prepare-interview .business,
.prepare-interview .talent form {
  display: none;
}
/* line 757, ../sass/pages.scss */
.prepare-interview .tabs .skills,
.prepare-interview .tabs .behavioral,
.prepare-interview .tabs .business,
.prepare-interview .skills.active,
.prepare-interview .behavioral.active,
.prepare-interview .business.active {
  display: block;
}
/* line 765, ../sass/pages.scss */
.prepare-interview .header .field-name-title {
  font-weight: bold;
  height: 32px;
}
/* line 771, ../sass/pages.scss */
.prepare-interview .body {
  display: none;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 779, ../sass/pages.scss */
.prepare-interview .on .body {
  display: block;
}
/* line 784, ../sass/pages.scss */
.prepare-interview .on.talent .ta form {
  display: none;
}
/* line 787, ../sass/pages.scss */
.prepare-interview .on.talent .ta.on form {
  display: block;
}
/* line 792, ../sass/pages.scss */
.prepare-interview .header .field-name-title div {
  float: left;
}
/* line 796, ../sass/pages.scss */
.prepare-interview textarea {
  height: 60px;
  padding: 1%;
  border: 1px solid #a1a1a1;
}
/* line 803, ../sass/pages.scss */
.prepare-interview .skill,
.prepare-interview .talent {
  margin-bottom: 10px;
  overflow: hidden;
  border: 1px solid #a1a1a1;
  padding: 10px 2%;
  clear: both;
}
/* line 811, ../sass/pages.scss */
.prepare-interview .tas {
  margin-left: 2%;
}
/* line 813, ../sass/pages.scss */
.prepare-interview .tas form {
  margin-bottom: 10px;
}
/* line 818, ../sass/pages.scss */
.prepare-interview .ta {
  position: relative;
  clear: both;
  margin-bottom: 10px;
}
/* line 822, ../sass/pages.scss */
.prepare-interview .ta .switch {
  top: 0;
  right: 0;
}
/* line 828, ../sass/pages.scss */
.prepare-interview .on form {
  display: block;
  overflow: hidden;
  position: relative;
}
/* line 834, ../sass/pages.scss */
.prepare-interview .switch {
  width: 64px;
  height: 32px;
  background: url(../images/sprites.png) no-repeat;
  background-position: -161px -397px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 2%;
}
/* line 845, ../sass/pages.scss */
.prepare-interview.locked .switch {
  cursor: initial;
}
/* line 849, ../sass/pages.scss */
.prepare-interview .on .switch {
  background-position: -332px -397px;
}
/* line 854, ../sass/pages.scss */
.prepare-interview .on .tas .switch {
  background-position: -161px -397px;
}
/* line 857, ../sass/pages.scss */
.prepare-interview .on .tas .on .switch {
  background-position: -332px -397px;
}
/* line 862, ../sass/pages.scss */
.prepare-interview .form-item-question {
  clear: both;
  margin-bottom: 10px;
}
/* line 869, ../sass/pages.scss */
.prepare-interview .form-item {
  margin: 0;
}
/* line 874, ../sass/pages.scss */
.prepare-interview .form-item-pos-answer,
.prepare-interview .form-item-neg-answer {
  float: left;
  padding-top: 10px;
  width: 46%;
}
/* line 878, ../sass/pages.scss */
.prepare-interview .form-item-pos-answer label,
.prepare-interview .form-item-neg-answer label {
  padding-left: 32px;
  background: url(../images/sprites.png) no-repeat;
}
/* line 884, ../sass/pages.scss */
.prepare-interview .form-item-pos-answer label {
  background-position: -1200px -55px;
}
/* line 888, ../sass/pages.scss */
.prepare-interview .form-item-neg-answer label {
  background-position: -1200px -126px;
}
/* line 892, ../sass/pages.scss */
.prepare-interview input.form-submit {
  bottom: 0;
  right: 0;
  position: absolute;
}
/* line 898, ../sass/pages.scss */
.prepare-interview .form-item-neg-answer {
  margin: 0 10px;
}

/* line 905, ../sass/pages.scss */
.level {
  position: absolute;
  right: 2%;
  top: 10px;
}
/* line 909, ../sass/pages.scss */
.level div {
  width: 32px;
  height: 32px;
  background: url(../images/sprites.png) no-repeat;
  background-position: -90px -437px;
  float: left;
}
/* line 915, ../sass/pages.scss */
.level div.on {
  background-position: -62px -437px;
}

/*
 * Candidates
 */
/* line 930, ../sass/pages.scss */
.candidates-page .header {
  overflow: hidden;
  position: relative;
  padding-top: 10px;
}
/* line 936, ../sass/pages.scss */
.candidates-page .selection-pane {
  clear: both;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ff7f1b;
  text-align: center;
}
/* line 943, ../sass/pages.scss */
.candidates-page .selection-pane .hire .button,
.candidates-page .selection-pane input.form-submit {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #a1a1a1;
  text-indent: 0;
  background-color: #fafafa;
  width: 200px;
  height: auto;
  padding: 4px;
  position: initial;
  margin-left: auto;
  display: block;
}
/* line 960, ../sass/pages.scss */
.candidates-page .selection-pane .selection-1,
.candidates-page .selection-pane .selection-2,
.candidates-page .selection-pane .selection-3,
.candidates-page .selection-pane #edit-hire,
.candidates-page .selection-pane #edit-compare {
  display: none;
}
/* line 965, ../sass/pages.scss */
.candidates-page .selection-pane.selected-1 .selection-0 {
  display: none;
}
/* line 969, ../sass/pages.scss */
.candidates-page .selection-pane.selected-1 #edit-hire,
.candidates-page .selection-pane.selected-1 .selection-1 {
  display: block;
}
/* line 975, ../sass/pages.scss */
.candidates-page .selection-pane.selected-2 .selection-0 {
  display: none;
}
/* line 979, ../sass/pages.scss */
.candidates-page .selection-pane.selected-2 #edit-compare,
.candidates-page .selection-pane.selected-2 .selection-2 {
  display: block;
}
/* line 985, ../sass/pages.scss */
.candidates-page .selection-pane.selected-3 .selection-0 {
  display: none;
}
/* line 989, ../sass/pages.scss */
.candidates-page .selection-pane.selected-3 #edit-compare,
.candidates-page .selection-pane.selected-3 .selection-3 {
  display: block;
}
/* line 995, ../sass/pages.scss */
.candidates-page .candidates {
  margin-top: 20px;
  min-height: 300px;
}
/* line 1001, ../sass/pages.scss */
.candidates-page .candidate {
  float: left;
  margin: 1%;
  width: 49%;
}
/* line 1008, ../sass/pages.scss */
.candidates-page .candidate:nth-child(2n+1) {
  margin-left: 0;
}
/* line 1012, ../sass/pages.scss */
.candidates-page .candidate:nth-child(2n) {
  margin-right: 0;
}
/* line 1017, ../sass/pages.scss */
.candidates-page .candidate:hover .edit-link {
  display: block;
}
/* line 1022, ../sass/pages.scss */
.candidates-page .candidate .record {
  -webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  -o-border-radius-topleft: 5px;
  -o-border-radius-bottomleft: 5px;
  -ms-border-radius-topleft: 5px;
  -ms-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #fff;
  overflow: hidden;
  position: relative;
}
/* line 1031, ../sass/pages.scss */
.candidates-page .candidate .field-name-title,
.candidates-page .candidate .field-name-field-first-name {
  font-size: 20px;
}
/* line 1035, ../sass/pages.scss */
.candidates-page .candidate .field-name-field-first-name {
  margin-right: .5em;
}
/* line 1039, ../sass/pages.scss */
.candidates-page .candidate .field-name-field-first-name {
  float: left;
}
/* line 1043, ../sass/pages.scss */
.candidates-page .candidate .left {
  width: 60px;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  cursor: pointer;
}
/* line 1052, ../sass/pages.scss */
.candidates-page .candidate .score {
  color: #ff7f1b;
  font-size: 30px;
  line-height: 64px;
}
/* line 1054, ../sass/pages.scss */
.candidates-page .candidate .score .field-label {
  display: none;
}
/* line 1060, ../sass/pages.scss */
.candidates-page .candidate .selected,
.candidates-page .candidate .not-selected {
  height: 24px;
  overflow: hidden;
  font-size: 12px;
  line-height: 1em;
  padding-top: 8px;
}
/* line 1068, ../sass/pages.scss */
.candidates-page .candidate .not-selected {
  font-weight: bold;
}
/* line 1072, ../sass/pages.scss */
.candidates-page .candidate .data {
  position: relative;
  padding: 8px;
  margin-left: 60px;
  margin-right: 32px;
  height: 80px;
}
/* line 1081, ../sass/pages.scss */
.candidates-page .candidate .buttons {
  width: 32px;
  position: absolute;
  top: 0;
  right: 0;
  border-left: 1px solid #a1a1a1;
}
/* line 1087, ../sass/pages.scss */
.candidates-page .candidate .buttons div {
  width: 32px;
  height: 32px;
}
/* line 1091, ../sass/pages.scss */
.candidates-page .candidate .buttons .interview a {
  background-image: url("../images/interview.png");
  width: 32px;
  height: 32px;
  display: block;
}
/* line 1098, ../sass/pages.scss */
.candidates-page .candidate .buttons .add-interview a {
  background-image: url("../images/add_interview.png");
}
/* line 1101, ../sass/pages.scss */
.candidates-page .candidate .buttons .cv a {
  background: url(../images/sprites.png) no-repeat;
  background-position: -1192px -163px;
}
/* line 1105, ../sass/pages.scss */
.candidates-page .candidate .buttons .cv a:hover {
  background-position: -1192px -224px;
}
/* line 1109, ../sass/pages.scss */
.candidates-page .candidate .buttons .motivation a {
  background: url(../images/sprites.png) no-repeat;
  background-position: -1192px -196px;
}
/* line 1113, ../sass/pages.scss */
.candidates-page .candidate .buttons .motivation a:hover {
  background-position: -1192px -249px;
}
/* line 1117, ../sass/pages.scss */
.candidates-page .candidate .buttons .file img {
  display: none;
}
/* line 1120, ../sass/pages.scss */
.candidates-page .candidate .buttons .file a {
  text-indent: -9999px;
  display: block;
}
/* line 1128, ../sass/pages.scss */
.candidates-page .candidate .field-name-field-email {
  clear: both;
}
/* line 1132, ../sass/pages.scss */
.candidates-page .candidate .graph {
  margin-left: 32px;
  width: 285px;
  height: 96px;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -o-border-radius-topright: 5px;
  -o-border-radius-bottomright: 5px;
  -ms-border-radius-topright: 5px;
  -ms-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 1142, ../sass/pages.scss */
.candidates-page .candidate.selected .left div {
  background-color: #ff7f1b;
  color: #fff;
}
/* line 1147, ../sass/pages.scss */
.candidates-page .candidate .not-selected {
  display: none;
}
/* line 1151, ../sass/pages.scss */
.candidates-page .candidate.selected .not-selected {
  display: block;
}
/* line 1155, ../sass/pages.scss */
.candidates-page .candidate.selected .selected {
  display: none;
}
/* line 1160, ../sass/pages.scss */
.candidates-page .edit-link {
  cursor: pointer;
  width: 32px;
  height: 32px;
  background: url(../images/sprites.png) no-repeat;
  text-indent: -9999px;
  line-height: 32px;
  display: none;
  background-position: -154px -567px;
  position: absolute;
  top: 0;
  right: 0;
}
/* line 1167, ../sass/pages.scss */
.candidates-page .edit-link a {
  text-indent: -9999px;
  display: block;
}

/*
 * Compare
 */
/* line 1180, ../sass/pages.scss */
.slide-pane .compare {
  height: 500px;
  overflow-y: auto;
}

/* line 1187, ../sass/pages.scss */
.compare .score-board,
.compare .detail-pane {
  float: left;
}
/* line 1191, ../sass/pages.scss */
.compare .score-board {
  -webkit-box-shadow: 0 0 2px 2px rgba(239, 239, 239, 0.5);
  -ms-box-shadow: 0 0 2px 2px rgba(239, 239, 239, 0.5);
  -o-box-shadow: 0 0 2px 2px rgba(239, 239, 239, 0.5);
  -moz-box-shadow: 0 0 2px 2px rgba(239, 239, 239, 0.5);
  box-shadow: 0 0 2px 2px rgba(239, 239, 239, 0.5);
  width: 30%;
  overflow: hidden;
  background-color: #fff;
}
/* line 1198, ../sass/pages.scss */
.compare .score-board .skill {
  border: none;
  padding: 0;
}
/* line 1205, ../sass/pages.scss */
.compare .score-board .ajax-progress-throbber {
  display: none;
}
/* line 1209, ../sass/pages.scss */
.compare .score-board .col {
  float: left;
  width: 33%;
  text-align: center;
  border-top: 1px solid #efefef;
  padding: 10px 0;
}
/* line 1216, ../sass/pages.scss */
.compare .score-board .col-even {
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef;
}
/* line 1222, ../sass/pages.scss */
.compare .score-board .header .col {
  border-top: none;
}
/* line 1227, ../sass/pages.scss */
.compare .score-board .row,
.compare .score-board .header,
.compare .score-board .footer {
  clear: both;
  overflow: hidden;
}
/* line 1232, ../sass/pages.scss */
.compare .score-board .row.active {
  background-color: #ff8b00;
}
/* line 1234, ../sass/pages.scss */
.compare .score-board .row.active a {
  color: #fff;
}
/* line 1237, ../sass/pages.scss */
.compare .score-board .row.active .col {
  border-color: #ff8b00;
}
/* line 1242, ../sass/pages.scss */
.compare .score-board a {
  color: #ff8b00;
}
/* line 1245, ../sass/pages.scss */
.compare .score-board a:hover .col {
  background-color: rgba(255, 139, 0, 0.2);
}
/* line 1250, ../sass/pages.scss */
.compare .detail-pane {
  margin-left: 1%;
  width: 69%;
}
/* line 1255, ../sass/pages.scss */
.compare .detail-pane .ai {
  border: 1px solid #a1a1a1;
  margin-bottom: 10px;
  overflow: hidden;
}
/* line 1263, ../sass/pages.scss */
.compare .detail-pane .ai .title .field,
.compare .detail-pane .ai .body .field,
.compare .detail-pane .ai .pos-answer .field,
.compare .detail-pane .ai .neg-answer .field {
  padding: 2%;
}
/* line 1267, ../sass/pages.scss */
.compare .detail-pane .ai .title {
  background-color: #ff7f1b;
  color: #fff;
  text-transform: uppercase;
}
/* line 1273, ../sass/pages.scss */
.compare .detail-pane .ai .pos-answer,
.compare .detail-pane .ai .neg-answer {
  width: 50%;
  overflow: hidden;
}
/* line 1277, ../sass/pages.scss */
.compare .detail-pane .ai .pos-answer {
  float: left;
}
/* line 1280, ../sass/pages.scss */
.compare .detail-pane .ai .field-label {
  text-transform: uppercase;
  color: #ff7f1b;
}
/* line 1285, ../sass/pages.scss */
.compare .detail-pane .row {
  background-color: #fff;
  margin-bottom: 10px;
  padding: 10px;
  overflow: hidden;
  border: 1px solid #a1a1a1;
  clear: both;
  -webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
  position: relative;
  min-height: 96px;
}
/* line 1298, ../sass/pages.scss */
.compare .detail-pane .first-name,
.compare .detail-pane .last-name {
  float: left;
}
/* line 1301, ../sass/pages.scss */
.compare .detail-pane .date {
  position: absolute;
  width: 96px;
  text-align: right;
  right: 10px;
  top: 10px;
}
/* line 1308, ../sass/pages.scss */
.compare .detail-pane .score {
  color: #ff7f1b;
  font-size: 30px;
  line-height: 64px;
  position: absolute;
  width: 64px;
  text-align: center;
  bottom: 0;
  left: 0;
}
/* line 1316, ../sass/pages.scss */
.compare .detail-pane .name {
  border-bottom: 1px solid #ff7f1b;
}
/* line 1320, ../sass/pages.scss */
.compare .detail-pane .name,
.compare .detail-pane .date {
  text-transform: uppercase;
  color: #a1a1a1;
  font-size: 18px;
  height: 24px;
}
/* line 1326, ../sass/pages.scss */
.compare .detail-pane .last-name {
  padding-left: 10px;
}
/* line 1329, ../sass/pages.scss */
.compare .detail-pane .remark {
  margin-left: 64px;
  padding: 10px 0;
}
/* line 1335, ../sass/pages.scss */
.compare .unchecked {
  background-color: #fafafa !important;
  border-color: #efefef !important;
  color: #efefef !important;
}
/* line 1339, ../sass/pages.scss */
.compare .unchecked div {
  color: #efefef !important;
  border-color: #efefef !important;
}
/* line 1347, ../sass/pages.scss */
.compare .footer .hire-link,
.compare .hire .form-type-checkbox {
  display: none;
}
/* line 1351, ../sass/pages.scss */
.compare .hire .hire-link {
  display: block;
}
/* line 1353, ../sass/pages.scss */
.compare .hire .hire-link a {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  padding-top: 10px;
  color: #505050;
  font-weight: bold;
  background: url(../images/sprites.png) no-repeat;
  background-position: -538px -154px;
  height: 30px;
  margin: auto;
  width: 80%;
  display: block;
}
/* line 1364, ../sass/pages.scss */
.compare .hire .hire-link a:hover {
  background-color: #a1a1a1;
  background-position: -618px -154px;
}

/*
 * Manage overview
 */
/* line 1382, ../sass/pages.scss */
.manage .role {
  padding: 0;
  background-color: inherit;
}
/* line 1387, ../sass/pages.scss */
.manage .person-type {
  overflow: hidden;
  clear: both;
}
/* line 1391, ../sass/pages.scss */
.manage .person {
  width: 27%;
  position: relative;
  float: left;
  margin: 2%;
  padding: 2%;
  -webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
}
/* line 1400, ../sass/pages.scss */
.manage .person .field-name-field-avatar,
.manage .person form {
  width: 150px;
  height: 150px;
  margin: 0 auto 10px auto;
}
/* line 1407, ../sass/pages.scss */
.manage .person .field-name-field-first-name,
.manage .person .field-name-title {
  float: left;
  margin-right: .5em;
  text-transform: uppercase;
  font-size: 20px;
  color: #a1a1a1;
}
/* line 1415, ../sass/pages.scss */
.manage .person .roles {
  clear: both;
  float: none;
}
/* line 1420, ../sass/pages.scss */
.manage .person .manage {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
  background: #efefef;
  text-align: center;
}
/* line 1425, ../sass/pages.scss */
.manage .person .manage:hover {
  background: #ff8b00;
}
/* line 1427, ../sass/pages.scss */
.manage .person .manage:hover a {
  color: #fff;
}
/* line 1431, ../sass/pages.scss */
.manage .person .manage a {
  display: block;
}
/* line 1436, ../sass/pages.scss */
.manage .person input[type=submit] {
  display: block;
  bottom: 32px;
  right: 0;
  position: absolute;
}
/* line 1442, ../sass/pages.scss */
.manage .person form {
  width: 100%;
  display: none;
  position: relative;
}
/* line 1446, ../sass/pages.scss */
.manage .person form div {
  margin: 0;
}
/* line 1450, ../sass/pages.scss */
.manage .person img {
  width: 100%;
}
/* line 1457, ../sass/pages.scss */
.manage .person.remark .field-name-field-avatar {
  display: none;
}
/* line 1460, ../sass/pages.scss */
.manage .person.remark form {
  display: block;
}

/*
 * Roles
 */
/* line 1474, ../sass/pages.scss */
.role {
  background-color: #fff;
  padding: 10px 2%;
  position: relative;
}
/* line 1483, ../sass/pages.scss */
.role .field-name-title,
.role .form-item-title input,
.role .categories,
.role .category,
.role .field-name-field-category select {
  text-transform: uppercase;
  color: #ff8b00;
  font-weight: bold;
}
/* line 1488, ../sass/pages.scss */
.role .category {
  margin-right: 10px;
  min-height: 32px;
}
/* line 1494, ../sass/pages.scss */
.role .field-name-title,
.role .form-item-title input {
  font-size: 20px;
  margin-right: 2%;
  min-height: 32px;
}
/* line 1500, ../sass/pages.scss */
.role .field-name-body {
  clear: both;
}

/* line 1505, ../sass/pages.scss */
form.role {
  overflow: hidden;
}

/* line 1514, ../sass/pages.scss */
div.skill, div.task, div.talent {
  clear: both;
  background-color: #fff;
  border: 1px solid #a1a1a1;
  border-bottom: 0px;
  padding: 10px 2%;
  position: relative;
}

/* line 1527, ../sass/pages.scss */
.skill .field-name-title,
.skill .form-item-title input,
.talent .field-name-title,
.talent .form-item-title input {
  min-height: 32px;
  text-transform: uppercase;
  margin-right: 128px;
}

/* line 1538, ../sass/pages.scss */
.task .field-name-body,
.skill .field-name-body,
.talent .field-name-body,
.new .field-name-body {
  clear: left;
}
/* line 1543, ../sass/pages.scss */
.task .field-name-field-expert-level,
.skill .field-name-field-expert-level,
.talent .field-name-field-expert-level,
.new .field-name-field-expert-level {
  display: none;
}

/* line 1550, ../sass/pages.scss */
.talent.display-edit .level div,
form.skill .level div {
  cursor: pointer;
}

/* line 1555, ../sass/pages.scss */
.tas {
  margin: 10px 0 0 2%;
}
/* line 1557, ../sass/pages.scss */
.tas .field-name-title {
  width: auto;
}

/* line 1564, ../sass/pages.scss */
.show-hide-header {
  margin-top: 10px;
  border-bottom: 1px solid #ff7f1b;
  overflow: hidden;
  margin-bottom: 10px;
  cursor: pointer;
  clear: both;
}
/* line 1572, ../sass/pages.scss */
.show-hide-header .title {
  font-size: 20px;
  color: #43698f;
  font-weight: bold;
  float: left;
}
/* line 1579, ../sass/pages.scss */
.show-hide-header .show,
.show-hide-header .hide {
  float: right;
  color: #ff7f1b;
}

/* line 1587, ../sass/pages.scss */
.show,
.collapsed .body,
.collapsed .hide {
  display: none;
}

/* line 1591, ../sass/pages.scss */
.collapsed .show {
  display: block;
}

/* line 1601, ../sass/pages.scss */
.new .form-item input,
.role .form-item input,
.task .form-item input,
.skill .form-item input {
  width: 100%;
}

/* line 1607, ../sass/pages.scss */
.role input.form-submit {
  bottom: -17px;
}

/* line 1613, ../sass/pages.scss */
.scratch .role input.form-submit {
  bottom: 0;
}

/* line 1619, ../sass/pages.scss */
.task .form-item-title {
  padding-right: 64px;
}

/* line 1626, ../sass/pages.scss */
.skills .new .form-item-title,
.skill .form-item-title {
  padding-right: 128px;
}
/* line 1629, ../sass/pages.scss */
.skills .new .field-name-body .form-item,
.skill .field-name-body .form-item {
  padding-right: 64px;
}

/* line 1637, ../sass/pages.scss */
.roles .content .add-link,
.roles .content form.new {
  border: 1px solid #a1a1a1;
  background: #efefef;
  padding: 10px 2%;
  position: relative;
}
/* line 1642, ../sass/pages.scss */
.roles .content .add-link a,
.roles .content form.new a {
  background: url(../images/sprites.png) no-repeat;
  background-position: -1195px -300px;
  padding-left: 32px;
  height: 32px;
  line-height: 32px;
  color: #505050;
  display: block;
}
/* line 1656, ../sass/pages.scss */
.roles .content .delete,
.roles .content .edit,
.roles .content .save {
  cursor: pointer;
  width: 32px;
  height: 32px;
  background: url(../images/sprites.png) no-repeat;
  text-indent: -9999px;
  line-height: 32px;
  display: none;
  position: absolute;
  top: 10px;
}
/* line 1662, ../sass/pages.scss */
.roles .content .edit {
  background-position: -154px -567px;
  right: 42px;
}
/* line 1666, ../sass/pages.scss */
.roles .content .delete {
  background-position: -154px -605px;
  right: 10px;
}
/* line 1670, ../sass/pages.scss */
.roles .content .save {
  background-position: -154px -534px;
}
/* line 1677, ../sass/pages.scss */
.roles .content .skill .edit,
.roles .content .skill .save,
.roles .content .talent .edit,
.roles .content .talent .save {
  right: 170px;
}
/* line 1680, ../sass/pages.scss */
.roles .content .skill .delete,
.roles .content .talent .delete {
  right: 138px;
}
/* line 1693, ../sass/pages.scss */
.roles .content .skill:hover .edit,
.roles .content .skill:hover .delete,
.roles .content .task:hover .edit,
.roles .content .task:hover .delete,
.roles .content .role:hover .edit,
.roles .content .role:hover .delete,
.roles .content .talent:hover .edit,
.roles .content .talent:hover .delete {
  display: block;
}
/* line 1701, ../sass/pages.scss */
.roles .content .skill .edit-link,
.roles .content .skill .delete-link,
.roles .content .skill .save-link,
.roles .content .skill .flame-links,
.roles .content .task .edit-link,
.roles .content .task .delete-link,
.roles .content .task .save-link,
.roles .content .task .flame-links,
.roles .content .role .edit-link,
.roles .content .role .delete-link,
.roles .content .role .save-link,
.roles .content .role .flame-links,
.roles .content .talent .edit-link,
.roles .content .talent .delete-link,
.roles .content .talent .save-link,
.roles .content .talent .flame-links {
  display: none;
}
/* line 1706, ../sass/pages.scss */
.roles .content .updated .save {
  display: block;
}
/* line 1718, ../sass/pages.scss */
.roles .content #autocomplete div:hover .edit,
.roles .content #autocomplete div:hover .delete {
  display: none;
}
/* line 1722, ../sass/pages.scss */
.roles .content #autocomplete li {
  color: #505050;
  white-space: normal;
}
/* line 1725, ../sass/pages.scss */
.roles .content #autocomplete li.selected div {
  background-color: #efefef;
}
/* line 1729, ../sass/pages.scss */
.roles .content #autocomplete .highlight {
  background-color: #ff7f1b;
}
/* line 1733, ../sass/pages.scss */
.roles .content #autocomplete .new-empty {
  font-weight: bold;
  text-align: center;
  background-color: #efefef;
  cursor: pointer;
}
/* line 1738, ../sass/pages.scss */
.roles .content #autocomplete .new-empty:hover {
  background-color: #ff7f1b;
}
/* line 1741, ../sass/pages.scss */
.roles .content #autocomplete .new-empty span {
  font-weight: normal;
}
/* line 1745, ../sass/pages.scss */
.roles .content #autocomplete div {
  overflow: hidden;
}
/* line 1752, ../sass/pages.scss */
.roles .content form.selected .autocomplete {
  display: none;
}
/* line 1755, ../sass/pages.scss */
.roles .content form.selected div.new {
  display: block;
}
/* line 1763, ../sass/pages.scss */
.roles .content .skills div.new,
.roles .content .behavioral div.new,
.roles .content .business div.new {
  display: none;
}
/* line 1776, ../sass/pages.scss */
.roles .content .form-item {
  margin: 0;
}
/* line 1778, ../sass/pages.scss */
.roles .content .form-item label {
  display: none;
}
/* line 1782, ../sass/pages.scss */
.roles .content textarea {
  height: 5em;
}
/* line 1787, ../sass/pages.scss */
.roles .content .existing {
  display: none;
}
/* line 1789, ../sass/pages.scss */
.roles .content .existing label {
  display: inline-block;
}
/* line 1793, ../sass/pages.scss */
.roles .content .existing #autocomplete .role {
  padding: 0;
}
/* line 1796, ../sass/pages.scss */
.roles .content .existing #autocomplete .field-name-title {
  font-weight: normal;
  font-size: inherit;
  color: #505050;
  min-height: 0;
  float: none;
}
/* line 1805, ../sass/pages.scss */
.roles .content .scratch {
  display: none;
}

/* line 1812, ../sass/pages.scss */
.new .form-type-textfield {
  padding-right: 64px;
}
/* line 1814, ../sass/pages.scss */
.new .form-type-textfield input {
  width: 100%;
}
/* line 1818, ../sass/pages.scss */
.new .form-item-autocomplete {
  padding-right: 32px;
}
/* line 1821, ../sass/pages.scss */
.new input.form-autocomplete {
  width: 100%;
}

/**************
Persons
**************/
/* line 1829, ../sass/pages.scss */
.persons-widget {
  font-size: 70%;
  position: absolute;
  background: #fafafa;
  z-index: 5;
  width: 85%;
  left: 10%;
  border: 1px solid #a1a1a1;
  border-top: 0px;
}
/* line 1838, ../sass/pages.scss */
.persons-widget .close {
  position: absolute;
  width: 16px;
  right: 1%;
  top: 0;
  z-index: 10;
  cursor: pointer;
  text-indent: -9999px;
  background: url(../images/sprites.png) no-repeat;
  background-position: -70px -253px;
}
/* line 1848, ../sass/pages.scss */
.persons-widget .close:hover {
  background-position: -70px -206px;
}
/* line 1852, ../sass/pages.scss */
.persons-widget .show-hide-header {
  display: none;
}
/* line 1855, ../sass/pages.scss */
.persons-widget .person {
  clear: both;
  border-top: 1px solid #a1a1a1;
}
/* line 1858, ../sass/pages.scss */
.persons-widget .person a {
  height: auto;
  padding: 0 10px;
  margin-left: 32px;
  line-height: 1.4;
  display: table-cell;
  height: 32px;
  vertical-align: middle;
}
/* line 1866, ../sass/pages.scss */
.persons-widget .person a:hover {
  background-color: inherit;
}
/* line 1871, ../sass/pages.scss */
.persons-widget .body:nth-child(2) .person:nth-child(1) {
  border-top: 0px;
}
/* line 1874, ../sass/pages.scss */
.persons-widget .field-name-field-avatar {
  float: left;
}

/**************
Person Details
**************/
/* line 1888, ../sass/pages.scss */
.person-details .col-1,
.person-details .col-2 {
  display: inline-block;
  vertical-align: top;
}
/* line 1892, ../sass/pages.scss */
.person-details .col-1 {
  width: 40%;
  margin-right: 2%;
}
/* line 1896, ../sass/pages.scss */
.person-details .col-2 {
  width: 58%;
}
/* line 1900, ../sass/pages.scss */
.person-details .field.field-name-field-avatar {
  margin-bottom: 2%;
}
/* line 1903, ../sass/pages.scss */
.person-details .field.field-name-field-first-name {
  float: left;
  margin-right: 10px;
}
/* line 1908, ../sass/pages.scss */
.person-details .field.field-name-field-first-name, .person-details .field.node-person.field-name-title {
  text-transform: uppercase;
  font-size: 1.4em;
  color: #a1a1a1;
}
/* line 1913, ../sass/pages.scss */
.person-details .field img {
  width: 100%;
}
/* line 1918, ../sass/pages.scss */
.person-details .roles a {
  text-transform: uppercase;
  color: #ff7f1b;
}
/* line 1925, ../sass/pages.scss */
.person-details .edit-link {
  cursor: pointer;
  width: 32px;
  height: 32px;
  background: url(../images/sprites.png) no-repeat;
  text-indent: -9999px;
  line-height: 32px;
  display: none;
  background-position: -154px -567px;
  position: absolute;
  top: 10px;
  left: 0;
  text-indent: -9999px;
}
/* line 1934, ../sass/pages.scss */
.person-details:hover .edit-link {
  display: block;
}
/* line 1938, ../sass/pages.scss */
.person-details .evaluation {
  position: relative;
}
/* line 1940, ../sass/pages.scss */
.person-details .evaluation .date {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
}
/* line 1946, ../sass/pages.scss */
.person-details .evaluation .link {
  margin-left: 80px;
}
/* line 1951, ../sass/pages.scss */
.person-details .add a {
  display: block;
  line-height: 32px;
  padding-left: 32px;
  background: url(../images/sprites.png) no-repeat;
  background-position: -1195px -300px;
}

/* line 1962, ../sass/pages.scss */
.display-person-details.last {
  border-bottom: 1px solid #a1a1a1;
}

/* line 1969, ../sass/pages.scss */
.remark .date {
  float: left;
  width: 80px;
}
/* line 1973, ../sass/pages.scss */
.remark .node-remark {
  margin-left: 80px;
}

/***********
Person Edit
***********/
/* line 1984, ../sass/pages.scss */
.person-edit {
  position: relative;
  overflow: hidden;
}
/* line 1989, ../sass/pages.scss */
.person-edit .col-1,
.person-edit .col-2,
.person-edit .col-3 {
  float: left;
  overflow: hidden;
}
/* line 1994, ../sass/pages.scss */
.person-edit .col-1,
.person-edit .col-3 {
  width: 39%;
  margin-right: 1%;
  clear: left;
}
/* line 1999, ../sass/pages.scss */
.person-edit .col-2 {
  float: right;
  width: 60%;
}
/* line 2006, ../sass/pages.scss */
.person-edit .avatar,
.person-edit .cv,
.person-edit .motivation {
  position: relative;
}
/* line 2009, ../sass/pages.scss */
.person-edit .avatar .remove,
.person-edit .avatar .add,
.person-edit .cv .remove,
.person-edit .cv .add,
.person-edit .motivation .remove,
.person-edit .motivation .add {
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: 0;
  display: none;
}
/* line 2019, ../sass/pages.scss */
.person-edit .avatar:hover.defined .remove, .person-edit .avatar:hover.removed .add,
.person-edit .cv:hover.defined .remove,
.person-edit .cv:hover.removed .add,
.person-edit .motivation:hover.defined .remove,
.person-edit .motivation:hover.removed .add {
  display: block;
}
/* line 2025, ../sass/pages.scss */
.person-edit .avatar .file-defined,
.person-edit .avatar .file-removed,
.person-edit .cv .file-defined,
.person-edit .cv .file-removed,
.person-edit .motivation .file-defined,
.person-edit .motivation .file-removed {
  display: none;
  height: 32px;
  background: url(../images/sprites.png) no-repeat;
  padding-left: 32px;
  line-height: 32px;
  font-size: .8em;
}
/* line 2035, ../sass/pages.scss */
.person-edit .avatar.defined .file-defined, .person-edit .avatar.removed .file-removed,
.person-edit .cv.defined .file-defined,
.person-edit .cv.removed .file-removed,
.person-edit .motivation.defined .file-defined,
.person-edit .motivation.removed .file-removed {
  display: block;
}
/* line 2039, ../sass/pages.scss */
.person-edit .avatar .file-defined,
.person-edit .cv .file-defined,
.person-edit .motivation .file-defined {
  color: #43698f;
  cursor: pointer;
}
/* line 2042, ../sass/pages.scss */
.person-edit .avatar .file-defined:hover,
.person-edit .cv .file-defined:hover,
.person-edit .motivation .file-defined:hover {
  color: #ff7f1b;
}
/* line 2049, ../sass/pages.scss */
.person-edit .avatar img {
  width: 100%;
}
/* line 2053, ../sass/pages.scss */
.person-edit .avatar .remove,
.person-edit .avatar .add {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.8);
  color: #505050;
  height: 10%;
  width: 100%;
  padding: 10% 0;
  text-align: center;
}
/* line 2067, ../sass/pages.scss */
.person-edit .cv .add,
.person-edit .cv .remove,
.person-edit .motivation .add,
.person-edit .motivation .remove {
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  background: url(../images/sprites.png) no-repeat;
}
/* line 2073, ../sass/pages.scss */
.person-edit .cv .add,
.person-edit .motivation .add {
  background-position: -1195px -300px;
}
/* line 2076, ../sass/pages.scss */
.person-edit .cv .remove,
.person-edit .motivation .remove {
  background-position: -154px -605px;
}
/* line 2081, ../sass/pages.scss */
.person-edit .cv .file-defined {
  background-position: -1190px -224px;
}
/* line 2084, ../sass/pages.scss */
.person-edit .cv .file-removed {
  background-position: -1190px -162px;
}
/* line 2090, ../sass/pages.scss */
.person-edit .motivation .file-defined {
  background-position: -1190px -249px;
}
/* line 2093, ../sass/pages.scss */
.person-edit .motivation .file-removed {
  background-position: -1190px -196px;
}
/* line 2100, ../sass/pages.scss */
.person-edit .form-item,
.person-edit .field-type-datetime {
  margin: 0 0 10px 0;
  clear: both;
  overflow: hidden;
}
/* line 2106, ../sass/pages.scss */
.person-edit label {
  width: 40%;
  float: left;
}
/* line 2110, ../sass/pages.scss */
.person-edit input {
  width: 58%;
  border: 0;
  float: left;
  clear: right;
  padding: 1%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
/* line 2119, ../sass/pages.scss */
.person-edit select {
  width: 59%;
}
/* line 2123, ../sass/pages.scss */
.person-edit .field-type-datetime .description {
  display: none;
}
/* line 2126, ../sass/pages.scss */
.person-edit .field-type-phone-number .form-type-textfield input {
  margin-left: 40%;
}
/* line 2132, ../sass/pages.scss */
.person-edit .field-name-field-cv,
.person-edit .field-name-field-motivation,
.person-edit .form-wrapper.field-name-field-avatar {
  clear: both;
  display: none;
}
/* line 2137, ../sass/pages.scss */
.person-edit a.cancel {
  position: absolute;
  bottom: 0;
  right: 32px;
  background: url(../images/sprites.png) no-repeat;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  background-position: -62px -203px;
}

/* line 2152, ../sass/pages.scss */
.candidates-page .person-edit .col-1,
.manage .person-edit .col-1 {
  width: 28%;
}
/* line 2155, ../sass/pages.scss */
.candidates-page .person-edit .col-2,
.manage .person-edit .col-2 {
  width: 40%;
  float: left;
}
/* line 2159, ../sass/pages.scss */
.candidates-page .person-edit .col-3,
.manage .person-edit .col-3 {
  width: 30%;
  margin: 0 0 0 1%;
  clear: right;
}

/* line 2175, ../sass/pages.scss */
tr.odd {
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 2179, ../sass/pages.scss */
div.messages {
  /*Important messages (status, warning, and error) for the user.
    See also the declarations in messages.css. */
  margin: 1.5em 0;
  /* Drupal core uses "6px 0" margin */
}
/* line 2183, ../sass/pages.scss */
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 2189, ../sass/pages.scss */
div.status {
  /* Normal priority messages */
}

/* line 2193, ../sass/pages.scss */
div.warning,
tr.warning {
  /* Medium priority messages */
  /* border: 1px solid #f0c020; */
  /* Drupal core uses: 1px solid #f0c020 */
}

/* line 2198, ../sass/pages.scss */
div.error,
tr.error {
  /*High priority messages. See also the .error declaration below. */
}

/* line 2201, ../sass/pages.scss */
.error {
  /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */
  /* Drupal core uses a #e55 background */
}

/* line 2205, ../sass/pages.scss */
.warning {
  /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */
  /* Drupal core uses a #e09010 background */
}

/* line 2209, ../sass/pages.scss */
.tabs {
  /* See also the tabs.css file. */
}

/* line 2212, ../sass/pages.scss */
.region-help {
  /* Help text on a page */
}

/* line 2215, ../sass/pages.scss */
.more-help-link {
  /* Link to more help */
}

/* line 2218, ../sass/pages.scss */
.region-content {
  /* Wrapper for the actual page content */
}

/* line 2221, ../sass/pages.scss */
ul.inline {
  /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
/* line 2225, ../sass/pages.scss */
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 2231, ../sass/pages.scss */
span.field-label {
  /* The inline field label used by the Fences module */
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 2235, ../sass/pages.scss */
.item-list .pager {
  /* A list of page numbers when
                 more than 1 page of content is available */
  padding: 0;
}
/* line 2239, ../sass/pages.scss */
.item-list .pager li {
  /* Each page number in the pager list */
  padding: 0 0.5em;
}

/* line 2244, ../sass/pages.scss */
.feed-icon {
  /*Link to the RSS or Atom feed for the current list of content */
}

/* line 2247, ../sass/pages.scss */
.more-link {
  /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
/*
 * Footer
 */
/*
 * Page bottom
 */
/* line 2281, ../sass/pages.scss */
.region-bottom {
  /* Wrapper for any blocks placed in the page bottom region */
}
