//
// Custom sass mixins
//
// To use a mixin in this file, add this line to the top of your .scss file:
//   @import "base";
// Then to use a mixin for a particular rule, add this inside the ruleset's
// curly brackets:
//   @include mix-in-name;


// element-invisible as defined by http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
@mixin element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    clip: rect(1px 1px 1px 1px); // IE6 and IE7 use the wrong syntax.
  }
  clip: rect(1px, 1px, 1px, 1px);
}

// Turns off the element-invisible effect.
@mixin element-invisible-off {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

@mixin element-focusable {
  @include element-invisible;

  &:active,
  &:focus {
    @include element-invisible-off;
  }
}

// The word "Unpublished" displayed underneath unpublished nodes and comments.
@mixin unpublished-div {
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word; // A very nice CSS3 property

  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    .lt-ie8 &>* {
      position: relative; // Otherwise these elements will appear below the "Unpublished" text.
    }
  }
}


// Big score
@mixin score {
  color: $orange_dark;
  font-size: 30px;
  line-height: 2*$icon_width;
}

// Box shadow down
@mixin shadow {
  @include box-shadow(0px 1px 1px 1px rgba(0,0,0, .3));
}

// Box glow
@mixin glow {
  @include box-shadow(0px 0px 10px 0px rgba(0,0,0, .3));
}

@mixin shadow-grey {
  @include box-shadow(0 0 2px 2px rgba(239, 239, 239, .5));
}

@mixin icon {
  cursor: pointer;
  width: $icon_width;
  height: $icon_width;
  background: $sprites;
  text-indent: -9999px;
  line-height: $icon_width;
}

@mixin gradient($top, $bottom) {
  @include background-image(linear-gradient(top, $top 0%, $bottom 100%));
}
