/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */

@import "base";

$default-border-radius: 4px;

// Stretch the height to minimum the viewport size
html,
body,
#page,
#main,
#content,
.tf-module,
.tf-region.left-sidebar{
  height: 100%;
  min-height: 100%;
}

/*
 * Body
 */

body {
  margin: 0;
  padding: 0;
  background-color: $grey_bg;
  color: $black;
}

#page-title {
  display: none;
}

input,
textarea {
  color: $black;
  border: 1px solid $grey_bg_darker;
  resize: none;
  padding: 0 1%;
}

textarea {
  padding: $gutter-width/2 $gutter-pct;
}

.grippie,
.filter-wrapper {
  display: none;
}

p {
  margin: 0;
}

.btn + .btn {
  margin: 0 0 0 $gutter-width;
}

.skill {
  &.display-edit,
  &.new {
    .btn {
      display: block;
      width: 100%;
    }
    .btn + .btn {
      margin: $gutter-width 0 0 0;
    }
    label {
      display: none;
    }
  }
}


/* OVERRIDE Animated throbber */
html.js input.form-autocomplete {
  background-position: 100% 7px; /* LTR */
}
html.js input.throbbing {
  background-position: 100% -13px; /* LTR */
}

.stuck {
  position: fixed;
  z-index: 10;
  top: 0;

  &.tf-region.messages {
    padding-bottom: 24px;
    background: url(../images/overflow.png) no-repeat;
    background-position: 50% 100%;
    background-size: 100% 24px;
  }
}



/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */

#skip-link {
  margin: 0;

  a,
  a:visited {
    display: block;
    width: 100%;
    padding: 2px 0 3px 0;
    text-align: center;
    background-color: #666;
    color: #fff;
  }
}

/*
 * Header
 */

#header {
}

#logo { /* Wrapping link for logo */
  float: left; /* LTR */
  margin: 0;
  padding: 0;

  img {
    vertical-align: bottom;
  }
}

#name-and-slogan { /* Wrapper for website name and slogan */
  float: left;
}

#site-name { /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;

  a:link,
  a:visited {
    color: #000;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
  }
}

#site-slogan { /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

.region-header { /* Wrapper for any blocks placed in the header region */
  clear: both; /* Clear the logo */
}

/*
 * Main (container for everything else)
 */

#main {
}

/*
 * Content
 */

#content {
}

.region-highlighted {
}

.breadcrumb {/* The path to the current page in the form of a list of links */
  ol {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

h1.title, /* The title of the page */
h2.node-title, /*Title of a piece of content when given in a list of content*/
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title { /* Comment title */
  margin: 0;
}

tr.even { /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

h2, h3 {
  color: $blue;
}

/************************
 Mimic Twitter bootstrap
************************/
.btn {
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  color: rgb(51, 51, 51);
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: whiteSmoke;
  @include gradient(white, rgb(230, 230, 230));
  background-repeat: repeat-x;
  border: 1px solid rgb(187, 187, 187);
  border-color: rgb(230, 230, 230) rgb(230, 230, 230) rgb(191, 191, 191);
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: rgb(162, 162, 162);
  @include border-radius;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  @include box-shadow(inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05));

  &:hover,
  &:active,
  &.active,
  &.disabled,
  &[disabled] {
    color: rgb(51, 51, 51);
    background-color: rgb(230, 230, 230);
  }

  &:active,
  &.active {
    background-color: rgb(204, 204, 204) 9;
  }

  &.active,
  &:active {
    background-color: rgb(230, 230, 230);
    background-color: rgb(217, 217, 217) 9;
    background-image: none;
    outline: 0;
    @include box-shadow(inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05));
  }

  &:focus {
    outline: thin dotted rgb(51, 51, 51);
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }

  &:hover {
    color: rgb(51, 51, 51);
    text-decoration: none;
    background-color: rgb(230, 230, 230);
    background-position: 0 -15px;
    @include transition(background-position 0.1s linear);
  }

  a {
    display: block;
  }
}

.btn-primary {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: rgb(255, 173, 74);
  @include gradient($orange_light, $orange_dark);
  background-repeat: repeat-x;
  border-color: $orange_dark $orange_dark rgb(228, 115, 27);
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);

  &:hover,
  &:active,
  &.active,
  &.disabled,
  &[disabled] {
    color: white;
    background-color: $orange_dark;
  }

  &:active,
  &.active {
    background-color: rgb(0, 51, 153) 9;
  }
}

.btn-mini {
  padding: 0 6px;
  font-size: 10.5px;
  @include border-radius(3px);
}

.btn-small {
  padding: 2px 10px;
  font-size: 11.9px;
  @include border-radius(3px);
  }

.btn-large {
  padding: 11px 19px;
  font-size: 17.5px;
  @include border-radius(6px);
}












.close {
  position: absolute;
  z-index: 10;
  font-weight: bold;
  top: -5px;
  right: 0;
  cursor: pointer;
  font-size: $icon_width;
  color: $grey_light;
  &:hover {
    color: $black;
  }
}


.dropdown-widget {
  $border: 1px solid $grey_light;
  position: relative;
  .item,
  .btn {
    border: $border;
  }
  .item {
    @include border-left-radius;
    height: 28px;
    line-height: 28px;
    padding: 0 1%;
    cursor: pointer;
  }
  .btn + .item {
    margin-right: 30px - 1px;
  }

  .btn {
    position: absolute;
    right: 0;
    top: 0;
    padding-left: 4px;
    padding-right: 4px;
    @include border-left-radius(0);
  }

  .caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: top;
    border-top: 10px solid $orange_light;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    content: "";
    margin-top: 5px;
    @include transition(border 0.3s ease-out);
  }
  .open .caret {
    border-bottom: 10px solid $orange_light;
    border-top: 0px;
  }
}


.dropdown {
  position: absolute;
  z-index: 10;
  overflow-y: scroll;
  height: 0px;
  width: 97%;
  margin: 0 1%;
  background: #fff;
  @include transition(all 0.3s ease-out);
  .none,
  .skill,
  .talent_attribute,
  .role {
    border: 0px;
    border-bottom: 1px solid $grey_light;
    padding: 0 $gutter-pct;
    line-height: $icon_width;
    &:hover {
      background-color: $grey_bg;
      cursor: pointer;
    }
    .field-name-title {
      text-transform: none;
    }
    .level {
      top: 0;
    }
  }
  .tas {
    margin: 0;
  }
  &.open {
    @include shadow-grey;
    height: 180px;
  }
  a {
    display: block;
  }
}


.tabs {
  clear: both;
  overflow: hidden;
  padding: 0 2px;
  > * {
    float: left;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    padding: $gutter-width/4 $gutter-pct;
    margin: $gutter-width $gutter-pct $gutter-width 0;
    @include shadow;
    @include border-radius;
    @include gradient($grey_bg, $grey_bg_darker);
    color: $grey_dark;
    &.active {
      background: $grey_light;
      color: #fff;
    }
  }
}

.tab-pane {
  .panes {
    > div {
      display: none;
    }
    .active {
      display: block;
    }
  }
}

.tf-module .icon {
  width: $icon_width;
  height: $icon_width;
  background: $sprites;
  display: inline-block;
  vertical-align: middle;
  & + .text {
    display: inline-block;
  }
}




/*
 * Dashboard
 */
.page-dashboard {
  // Hide default messages
  #content > .messages {
    display: none;
  }

  .tf-region.header .menu {
    visibility: hidden;
    height: 49px;
  }
  .tf-region.content > .tabs {
    margin-top: 30px;
    overflow: visible;
    > div {
      width: (100%/3) - $gutter-pct;
      min-width: 200px;
      margin: $gutter-width $gutter-pct/2;
      padding: 0;
      background-repeat: no-repeat;
      @include transition(background-position 0.2s ease-in);
      &:hover {
        background-position-y: 180px;
      }
    }
    a {
      display: block;
      width: 184px;
      margin: auto;
      color: $orange_dark;
      font-size: 1.5em;
      background: $sprites;
      padding: 150px 0 0 0;
      height: 30px;

      &.feedback {
        background-position: -784px -325px;
        &:hover {
          background-position: -977px -325px;
        }
      }
      &.roles {
        background-position: -780px -508px;
        &:hover {
          background-position: -973px -508px;
        }
      }
      &.recruit {
        background-position: -782px -149px;
        &:hover {
          background-position: -973px -149px;
        }
      }
      &.tf_admin {
        background: url(../images/admin_grey) no-repeat center 5px;
        background-size: 140px;
        &:hover {
          background-image: url(../images/admin_orange);
        }
      }
    }
  }
}



/*
 * General
 */
$sidebar_width: 25%;
$fat_border: url(../images/4px_border.png);
$min_height: 300px;
$page_width: 100% - $sidebar_width -$gutter-pct;
$border_width: 1px;

$cv_position: -1200px -170px;
$motivation_position: -1200px -204px;

.tf-region {
  &.left-sidebar,
  &.main {
    float: left;
  }

  &.header {
    padding: $gutter-width 0;
    position: relative;
    .admin {
      position: absolute;
      top: 2*$gutter-width;
      right: 0;
      .settings .icon {
        background-position: -60px -298px;
      }
      .logout .icon {
        background-position: -60px -345px;
      }
      > div {
        height: $icon_width;
        line-height: $icon_width;
        display: inline-block;
        vertical-align: top;
        font-size: 80%;
        margin-right: $gutter-width;
      }
    }
    .menu {
      a {
        color: $black;
        &.active {
          color: #fff;
        }
      }
    }
  }

  &.left-sidebar {
    width: $sidebar_width;
    background-color: $grey_bg_darker;
    margin-right: $gutter-pct;
    clear: left;

    .new,
    .dashboard {
      background-color: $grey_bg_darker;
      margin-right: 4px;
    }

    .dashboard {
      position: relative;
      padding: 10%;
      a {
        display: block;
      }
      &:only-child {
       height: 94.6%
      }
    }

    .version {
      position: absolute;
      top: 0;
      left: $gutter-pct;
      color: $grey_light;
    }

    .new {
      padding: 2*$gutter-width $gutter-pct;
      a {
        display: block;
      }
    }

    .header {
      text-transform: uppercase;
      margin-right: 4px;
      padding: 0 $gutter-pct;
      background: url(../images/title_back.png) repeat-x bottom;
      color: $grey_light;
      height: $icon_width - 1px;
      line-height: 28px;
    }

    .item, // To be removed
    .display-sidebar {
      clear: both;
      border-bottom: 1px solid $grey_light;
      position: relative;
      padding-right: 4px;
      a:not(.action) {
        height: 5*$gutter-width;
        padding: $gutter-pct;
        display: block;
        color: $grey_light;
        @include transition(background-color .3s ease-out);
        &:hover,
        &.active {
          color: inherit;
          background-color: #FFF;
        }

        &.active {
          background-image: none;
          background: $grey_bg;
          margin-right: -4px;
        }
      }

    }

    .field-name-field-category,
    .actions {
      font-size: 80%;
    }

    .actions {
      padding: 0 $gutter-pct;
      margin-right: -4px;
      display: none;
      @include gradient($grey_bg, $grey_light);
//      background-color: $grey_light;
      &.active {
        display: block;
      }
      a {
        color: #fff;
        &:hover {
          color: $black;
        }
        & + a {
          margin-left: $gutter-pct;
          &:before {
            content: '- ';
          }
        }
      }
    }
  }


  &.main {
    clear: right;
    width: $page_width;
  }

  &.messages {
    margin: 0;
    padding: 0;
    border: 0;
    .messages {
      padding: 0 $gutter-pct;
      margin: 0;
      background-position: 0;
      line-height: $icon_width;
      color: #fff;
    }

    ul {
      list-style: none;
//      margin: 0;
    }

    .status {
      @include gradient($green_light, $green_dark);
      border: 1px solid $green_border;
    }
    .warning {
      @include gradient($yellow_light, $yellow_dark);
      border: 1px solid $yellow_border;
      color: $black;
    }
    .error {
      @include gradient($red_light, $red_dark);
      border: 1px solid $red_border;
    }
    .help {
      @include gradient($orange_light, $orange_dark);
      border: 1px solid $orange_border;
    }

    .cancel {
      margin-top: 3px;
      float: right;
    }

    .start,
    .slide-down {
      display: none;
    }

    .grace-5:hover {
      .start {
        display: inline;
      }
      .time {
        display: none;
      }
    }
  }

  &.menu {
    padding: $gutter-width 0;
  }

  &.content {
    padding: $gutter-width 0 10% 0;
    position: relative;
  }

  &.overlay {
    display: none;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $black_t;
    // Needs to be added for every item to be central in the overlay
    > div {
      position: absolute;
      background-color: #fff;
      @include border-radius;
      @include shadow;
    }
    .popup {
      width: 50%;
      left: 25%;
      top: 25%
    }
    .page {
      top: 5%;
      left: 10%;
      width: 80%;
      height: 90%;
    }
  }


  // Slide Pane
  $close_width: 50px;
  &.slide-pane {
    position: absolute;
    top: 0;
    right: -100%;
    width: 80%;
    background-color: $grey_bg;
    background-color: $black_t;
    border: 1px solid #fff;
    @include transition(right 2s);
  }
  &.open {
    right: 0%;
  }
  .sp-title {

  }
  .sp-content {
    position: relative;
    margin-right: $close_width;
    padding: $gutter-width;
  }
  .sp-close {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: $close_width;
    background: url(../images/slide_pane_right.png) no-repeat 50% 50%;
    background: url(../images/slide_pane_right.png) no-repeat 50% 10%,
                url(../images/slide_pane_right.png) no-repeat 50% 50%,
                url(../images/slide_pane_right.png) no-repeat 50% 90%;
    background-color: $grey_light;
    cursor: pointer;
  }


  form .actions {
    position: absolute;
    right: $gutter-pct;
    bottom: $gutter-width;
  }
}

.no-selected {
  min-height: $min_height;
  text-align: center;
}

.tf-region.left-sidebar /*, .left-sidebar a*/ {
  background: $fat_border repeat-y;
  background-position: 100% 0;
}

.tf-module {
  &.recruit,
  &.feedback { // Needed to add for all modules usingthe slide pane
//    position: relative;
//    overflow: hidden;
  }
}


.page-actions {
  float: right;
  clear: both;
  padding: 2*$gutter-width 0;
}






/*
  Interview
*/
.interview {
  position: relative;
  height: 99%;
  .person {
    position: relative;
    padding: $gutter-width $gutter-pct;
    margin: $gutter-width $gutter-pct;
    @include shadow;
    @include border-radius;

    .col {
      width: 50%;
      display: inline-block;
      vertical-align:top;
    }

    .field-label,
    .field-label + .field-items {
        display: inline-block;
        font-weight: normal;
    }

    .field-name-title,
    .date {
      font-size: 24px;
    }

    .done {
      position: absolute;
      right: $gutter-pct;
      top: $gutter-width/2;
    }
  }

  .print {
    @include icon;
    background-position: -65px -631px;
    position: absolute;
    top: $gutter-width*1.5;
    right: 20%;
  }

  .body {
    $more_width: 60px;

    position: absolute;
    top: 140px;
    left: 0;
    bottom: $gutter-width;
    width: 100% - 2*$gutter-pct - 1%;
    $col_width: 40%;
    overflow-y: scroll;
    padding: 0 $gutter-pct;

    .header {
      .field {
        padding: $gutter-width $more_width $gutter-width $gutter-pct;
      }
    }
    .field {
      padding-left: ($gutter-pct/$col_width)*100%;
    }

    .pos-hint,
    .neg-hint {
      min-height: (5 * ($icon_width + $gutter-width)) / 2;
    }

    .question-wrapper {
      margin: 0 0 $gutter-width 0;
      background: $grey_bg_darker;
      color: $grey_light;
      @include shadow;
      @include border-radius;
      position: relative;
      width: auto;
      padding: 0;

      .header {
        cursor: pointer;
      }

//      .more,
      .less {
        @include icon;
        height: 16px;
        line-height: 16px;
        font-size: 12px;
        color: $grey_light;
        bottom: 5px;
        right: 0px;
        position: absolute;
        &:hover {
          font-weight: bold;
        }
      }

      .less {
        background-position: -90px -522px;
        width: 30px;
        margin-top: -30px;
      }

//      .more {
//        background-position: -35px -522px;
//        width: $more_width;
//        display: none;
//        text-indent: 0px;
//      }

      &.collapsed {
        .less {
          display: none;
        }
//        .more {
//          display: block;
//        }
      }

      .done {
        display: none;
        position: absolute;
        right: $gutter-pct;
        top: $gutter-width;
        font-weight: bold;
        .text,
        .score {
          float: left;
          margin: 0 0 0 $gutter-width;
          cursor: initial;
          color: #fff;
        }
      }

      &.done .done {
        display: block;
      }

      .field-name-title {
        cursor: pointer;
        background: $grey_light;
        @include gradient($grey_bg_darker, $grey_light);
        color: $grey_bg_darker;
        font-size: 1em;
        padding-right: 100px;
        @include border-radius(4px 4px 0 0);
      }

      &.activated {
        background: transparent;
        color: $black;
        .field-name-title {
          @include border-radius(4px 4px 0 0);
          background-color: $orange_dark;
          @include gradient($orange_light, $orange_dark);
          color: #fff;
        }
        .more {
          color: #fff;
        }
      }

    }

    .answer-body {
      position: relative;
      display: none;
      overflow: hidden;
      .col {
        padding-top: $gutter-width;
      }
      .col-1,
      .col-3 {
        float: left;
        width: $col_width;
      }
      .col-1 {
        padding-right: 50% - $col_width;
      }
      .col-2 {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -$icon_width/2;
      }
      .col-3 {
        padding-left: 50% - $col_width;
      }

    }
    .field-name-field-score {
      display: none;
    }
    .score {
      @include icon;
      line-height: 25px;
      margin-bottom: $gutter-width/2;
      background-position: -154px -491px;
      text-align: center;
      color: $grey_light;
      text-indent: 0px;
      &.selected {
        background-position: -189px -491px;
        color: #FFF;
        font-weight: bold;
      }
      &:hover {
        font-weight: bold;
      }
    }

    form {
      padding-right: ($gutter-pct/$col_width)*100%;
    }

    textarea {
      height: 120px;
    }
    .form-submit {
      width: 100%;
    }
  }
}

.header,
.body {
  clear: both;
}


/*
 * Campaign details
 */
.campaign-details {
  position: relative;
  form {
    margin-top: 2*$gutter-width;
  }
  .form-item,
  .dropdown-widget {
    width: 50%;
  }
  input {
    width: 100%;;
  }
  .field-name-field-role-ref {
    .form-item {
      margin: 0;
    }
    select {
      display: none;
    }
  }
  .role {
    background-color: transparent;
    padding: 0;
  }
}


/*
 * Prepare Interview
 */
$switch_width: 2*$icon_width;
$switch_height: $icon_width;
$flame_width: $icon_width;

.prepare-interview {
  h3 {
    margin: 0;
  }

  .level {
    right: 90px;
    top: 10px;
  }

  .tabs div {
    width: 27.8%;
    &:nth-child(3) {
      margin-right: 0;
    }
  }

  .role {
    .edit a {
      @include icon;
      background-position: -154px -567px;
      position: absolute;
      top: $gutter-width;
      right: $gutter-pct;
      display: none;
    }
    &:hover .edit a {
      display: block;
    }
  }

  .skills,
  .behavioral,
  .business,
  .talent form {
    display: none;
  }

  .tabs .skills,
  .tabs .behavioral,
  .tabs .business,
  .skills.active,
  .behavioral.active,
  .business.active {
    display: block;
  }


  .header .field-name-title {
//    font-size: 20px;
    font-weight: bold;
    height: $switch_height;
  }

  .body {
    display: none;
    @include transition-duration(.3s);
  }

  .on .body {
    display: block;
  }

  .on.talent .ta {
    form {
      display: none;
    }
    &.on form {
      display: block;
    }
  }

  .header .field-name-title div {
    float: left;
  }

  textarea {
    height: 60px;
    border: $border_width solid $grey_light;
  }

  .skill,
  .talent {
    margin-bottom: $gutter-width;
    overflow: hidden;
    border: $border_width solid $grey_light;
    padding: $gutter-width $gutter-pct;
    clear: both;
  }

  .tas {
    margin-left: $gutter-pct;
    form {
      margin-bottom: $gutter-width;
    }
  }

  .ta {
    position: relative;
    clear: both;
    margin-bottom: $gutter-width;
    .switch {
      top: 0;
      right: 0;
    }
  }

  .on form {
    display: block;
    overflow: hidden;
    position: relative;
  }

  .switch {
    width: $switch_width;
    height: $switch_height;
    background: $sprites;
    background-position: -161px -397px;
    cursor: pointer;
    position: absolute;
    top: $gutter-width;
    right: $gutter-pct;
  }

  &.locked .switch {
    cursor: initial;
  }

  .on .switch {
    background-position: -332px -397px;
  }

  .on .tas {
    .switch {
      background-position: -161px -397px;
    }
    .on .switch {
      background-position: -332px -397px;
    }
  }

  .form-item-question {
    clear: both;
    margin-bottom: $gutter-width;
  }

  .form-item-pos-answer,
  .form-item-neg-answer {
    float: left;
    padding-top: $gutter-width;
    width: 42%;
    label {
      padding-left: $icon_width;
      background: $sprites;
    }
  }

  .form-item-pos-answer label {
    background-position: -1200px -55px;
  }

  .form-item-neg-answer label {
    background-position: -1200px -126px;
  }

  form .actions {
    right: 0;
  }

  .form-item-neg-answer {
    margin: 0 $gutter-width;
  }
}


// Flames
.level {
  position: absolute;
  right: $gutter-pct;
  top: $gutter-width;
  div {
    width: $flame_width;
    height: $switch_height;
    background: $sprites;
    background-position: -90px -437px;
    float: left;
    &.on {
      background-position: -62px -437px;
    }
  }
}


/*
 * Candidates
 */
$label_width: 100px;
$candidate_icon_width: 128px;
$c_margin: 8px;

.candidates-page {
  .header {
    overflow: hidden;
    position: relative;
    padding-top: $gutter-width;
  }

  .selection-pane {
    clear: both;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid $orange_dark;
    text-align: center;
    .hire .button,
    input.form-submit {
      @include border-radius;
      border: 1px solid $grey_light;
      text-indent: 0;
      background-color: $grey_bg;
      width: 200px;
      height: auto;
      padding: $c_margin/2;
      position: initial;
      margin-left: auto;
      display: block;
    }

    .selection-1,
    .selection-2,
    .selection-3,
    #edit-hire,
    #edit-compare {
      display: none;
    }

    &.selected-1 {
      .selection-0 {
        display: none;
      }
      #edit-hire,
      .selection-1 {
        display: block;
      }
    }

    &.selected-2 {
      .selection-0 {
        display: none;
      }
      #edit-compare,
      .selection-2 {
        display: block;
      }
    }

    &.selected-3 {
      .selection-0 {
        display: none;
      }
      #edit-compare,
      .selection-3 {
        display: block;
      }
    }
  }

  .candidates {
    margin-top: 20px;
//    overflow: hidden;
    min-height: 300px;
  }

  .candidate {
    $left: 60px;

    float: left;
    margin: 1%;
    width: 49%;

    &:nth-child(2n+1) {
      margin-left: 0;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:hover {
      .edit-link {
        display: block;
      }
    }

    .record {
      @include shadow;
      @include border-left-radius;
      background-color: #fff;
      overflow: hidden;
      position: relative;
    }

    .field-name-title,
    .field-name-field-first-name {
      font-size: 20px;
    }

    .field-name-field-first-name {
      margin-right: .5em;
    }

    .field-name-field-first-name {
      float: left;
    }

    .left {
      width: $left;;
      position: absolute;
      top: 0px;
      left: 0px;
      text-align: center;
      cursor: pointer;
    }

    .score {
      @include score;
      .field-label {
        display: none;
      }
    }

    .selected,
    .not-selected {
      height: 2*$icon_width;
      overflow: hidden;
      font-size: 12px;
      line-height: 2*$icon_width;
    }

    .not-selected {
      font-weight: bold;
    }

    .data {
      position: relative;
      padding: $c_margin;
      margin-left: $left;
      margin-right: $icon_width;
      height: 4 * $icon_width - 2 * $c_margin;
    }

    .buttons {
      width: $icon_width;
      height: 4*$icon_width;
      position: absolute;
      top: 0;
      right: 0;
      border-left: 1px solid $grey_light;
      div {
        width: $icon_width;
        height: $icon_width;
      }
      .interview a {
        // TODO: in sprite
        background-image: url('../images/interview.png');
        width: $icon_width;
        height: $icon_width;
        display: block;
      }
      .add-interview a {
        background-image: url('../images/add_interview.png');
      }

    }

    .field-name-field-email {
      clear: both;
    }

    .graph {
      margin-left: $icon_width;
      width: 285px;
      height: 4 * $icon_width;
      background-color: #fff;
      @include shadow;
      @include border-right-radius;
    }
  }

  .candidate.selected .left {
    background-color: $orange_dark;
    @include gradient($orange_light, $orange_dark);
    @include border-left-radius;
    div {
      color: #fff;
    }
  }

  .candidate .not-selected {
      display: none;
  }

  .candidate.selected .not-selected {
    display: block;
  }

  .candidate.selected .selected {
    display: none;
  }

  // TODO: Unify icons and make global
  .edit-link {
    @include icon;
    display: none;
    background-position: -154px -567px;
    position: absolute;
    top: 0;
    right: 0;
    a {
      text-indent: -9999px;
      display: block;
    }
  }
}


.fake {
  &.cv,
  &.motivation {
    a {
      background: $sprites;
    }
    .file {
      img {
        display: none;
      }
      a {
        text-indent: -9999px;
        display: block;
      }
    }
  }
  &.cv a {
    background-position: -1192px -163px;
    &:hover {
      background-position: -1192px -224px;
    }
  }
  &.motivation a {
    background-position: -1192px -196px;
    &:hover {
      background-position: -1192px -249px;
    }
  }
}





/*
 * Compare
 */
.compare {
  $col_width: 65%;

  margin: $gutter-pct;
  position: relative;
  height: 90%;


  .score-board {
    $border: 1px solid $grey_bg_darker;
    @include shadow-grey;
    width: $col_width - $gutter-pct;
    background-color: #fff;

    .skill {
      // skills get some unneeded inheritance. TODO: make cleaner
      border: none;
      padding: 0;
    }


    .ajax-progress-throbber { // TODO: Style better
      display: none;
    }


    .col {
      float: left;
      text-align: center;
      border-top: $border;
      padding: $gutter-width 0;
    }
    &.columns-3 {
      .col-1,
      .col-2,
      .col-3 {
        width: 13%;
      }
      .col-4 {
        width: 61%;
        text-align: left;
      }
    }
    &.columns-2 {
      .col-1,
      .col-2 {
        width: 15%;
      }
      .col-3 {
        width: 70%;
        text-align: left;
      }
    }

    .header {
      @include gradient($orange_light, $orange_dark);
      color: #fff;
      .col {
        border-top: none;
      }
    }

    .row.active {
      background-color: $orange_light;
      a {
        color: #fff;
      }
      .col {
        border-color: $orange_light;
      }
    }

    a {
      color: $orange_light;
    }
    a:hover .col {
      background-color: $orange_light_t;
    }
  }

  .detail-pane {
    position: absolute;
    right: 0;
    top: 0;
    height: 100% - 2*$gutter-pct;
    overflow-y: auto;
    $border: 1px solid $grey_light;

    width: 100% - $col_width;
    .ai {
      width: 98%;
      border: $border;
      margin-bottom: $gutter-width;
      overflow: hidden;
     .title,
     .body,
     .pos-answer,
     .neg-answer {
       .field {
         padding: 2%;
       }
     }
     .title {
       background-color: $orange_dark;
       @include gradient($orange_light, $orange_dark);
       color: #fff;
       text-transform: uppercase;
     }
     .pos-answer,
     .neg-answer {
       width: 50%;
       overflow: hidden;
     }
     .pos-answer {
       float: left;
     }
     .field-label {
       text-transform: uppercase;
       color: $orange_dark;
     }
    }
    .row {
      background-color: #fff;
      margin-bottom: $gutter-width;
      padding: $gutter-width $gutter-pct;
      border: $border;
      clear: both;
      @include shadow;
      position: relative;
      min-height: 2.5*$icon_width;
      width: 94%;
    }

    .first-name,
    .last-name {
      float: left;
    }
    .date {
      position: absolute;
      width: 3 * $icon_width;
      text-align: right;
      right: $gutter-width;
      top: $gutter-width;
    }
    .score {
      @include score;
      position: absolute;
      width: 2*$icon_width;
      text-align: center;
      top: $icon_width;
      left: 0;
    }
    .name {
      border-bottom: 1px solid $orange_dark;
    }
    .name,
    .date {
      text-transform: uppercase;
      color: $grey_light;
      font-size: 18px;
      height: 24px;
    }
    .last-name {
      padding-left: $gutter-width;
    }
   .comment {
     margin-left: 2*$icon_width;
     padding: $gutter-width 0;
   }
  }

  .unchecked {
    background-color: $grey_bg !important ;
    border-color: $grey_bg_darker !important;
    color: $grey_bg_darker  !important;
    div {
      color: $grey_bg_darker  !important;
      border-color: $grey_bg_darker !important;
    }
  }

  // Handle the display of checkbox OR Hire button
  .footer .hire-link,
  .hire .form-type-checkbox {
    display: none;
  }

  .footer .hire {
    padding-bottom: 0;
  }

  .hire {
    .hire-link {
      display: block;
      a {
        @include border-radius;
        padding-top: $gutter-width;
        color: $black;
        font-weight: bold;
        background: $sprites;
        background-position: -538px -154px;
        height: 30px;
        margin: auto;
        width: 80%;
        display: block;
        &:hover {
          background-color: $grey_light;
          background-position: -618px -154px;
        }
      }
    }
  }

}



/*
 * Feedback overview
 */
.feedback-overview {
  .person {
    $right_col: 120px;
    $num_col: 3;
    $col_width: (100%/$num_col) - 2*$gutter-pct;
    width: $col_width;
    background-color: #fff;
    position: relative;
    float: left;
    margin: $gutter-width/2 $gutter-pct/2;
    padding: $gutter-width/2 $gutter-pct/2;
    @include shadow;
    @include border-radius;

    .col {
      height: 160px;
      position: relative;
      .inner {
        height: inherit;
      }
    }

    .col-1 {
      margin-right: $right_col;
    }

    .col-2 {
      width: $right_col;
      position: absolute;
      right: 100% * $gutter-pct/(2 * $col_width);
      top: $gutter-width/2;

      .inner {
        border-left: 1px solid $grey_bg_darker;
        padding-left: 10%;
        margin-left: 10%;
      }
    }

    .feedback,
    .remark-btn,
    .num-remarks {
      position: absolute;
      bottom: 0;
      a {
        display: block;
      }
    }

    .num-remarks {
      border: 1px solid $black;
      text-align: center;
      position: absolute;
      bottom: $icon_width + $gutter-width/4;
      width: 83px;
      left: 30px;
      background-color: #fff;
    }

    .feedback {
      left: 0;
      width: 100%;
    }

    .remark-btn {
      left: 20%;
      width: 80%;
    }

    .remark-btn,
    .feedback,
    .num-remarks {
      display: none;
    }

    &:hover {
      border-color: $orange_dark;
      .remark-btn,
      .feedback,
      .num-remarks {
        display: block;
      }
    }

    .field-name-field-first-name,
    .field-name-title {
      text-transform: uppercase;
      font-size: 20px;
    }

    .field-name-field-email,
    .field-name-field-phone {
      max-height: 24px;
      overflow: hidden;
    }

    img {
      width: 100%;
    }
  }
  .tabs .new {
    @include gradient($orange_light, $orange_dark);
    font-weight: bold;
    color: #fff;
  }

}



.feedback .roles {
  margin-top: $gutter-width;
}

.person-edit {
  .roles,
  .assign-role {
    margin-left: 2*$gutter-pct;;
  }
}


// Assign role
.assign-role {
  .item {
    border: 0;
  }
  .btn {
    border: 0;
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
  }
  .caret {
    background: $sprites;
    background-position: -1200px -305px;
    width: 20px;
    height: 20px;
    border: 0 !important;
    margin: 0;
    display: none;
  }
  &:hover .caret {
    display: block;
  }
}


// Add remark
.add-remark {
  padding: 2*$gutter-width $gutter-pct;
  .header {
    position: relative;
    margin-bottom: $gutter-width;
  }
  .full-name {
    text-transform: uppercase;
  }
  .feedback {
    position: absolute;
    top: 0;
    right: $icon_width;
  }
}
.ajax-progress-throbber { // TODO: Style better
  display: none;
}

.edit-remark {
  position: relative;
  $border: 1px solid $grey_light;
  background-color: #fff;
  @include glow;
  padding: $gutter-width $gutter-pct;
  textarea {
    @include border-radius;
    border: $border;
    height: 70px;
  }
  .show-hide-header {
    display: none;
  }
  .attached-to {
    width: 85%;
  }
}




/*
 * Roles
 */
$border: 1px solid $grey_light;

.prepare-interview .role,
.role.display-edit {
  background-color: #fff;
  padding: $gutter-width $gutter-pct;
  position: relative;

  .field-name-title,
  .form-item-title input,
  .categories,
  .category,
  .field-name-field-category select {
    text-transform: uppercase;
    color: $orange_light;
    font-weight: bold;
  }
  .category {
    margin-right: $gutter-width;
    min-height: $icon_width;
  }

  .field-name-title,
  .form-item-title input {
    font-size: 20px;
    margin-right: $gutter-pct;
    min-height: $icon_width;
  }

  .field-name-body {
    clear: both;
  }
}

form.role {
  overflow: hidden;
}



div {
  &.remark,
  &.skill,
  &.task,
  &.talent {
    clear: both;
    background-color: #fff;
    border: $border;
    border-bottom: 0px;
    padding: $gutter-width $gutter-pct;
    position: relative;
  }
}

.skill,
.talent {
  > .field-name-title,
  .form-item-title input {
    min-height: $icon_width;
    margin-right: 4*$icon_width;
  }
  .field-name-title {
    text-transform: uppercase;
  }

}

.talent {
  .talent_attribute + .talent_attribute {
    margin-top: $gutter-width;
  }
}

.task,
.skill,
.talent,
.new {
  .field-name-body {
    clear: left;
  }

  // Some form stuff
  .field-name-field-expert-level {
    display: none;
  }
}

.talent.display-edit,
form.skill {
  .level div {
    cursor: pointer;
  }
}

.tas {
  margin: $gutter-width 0 0 $gutter-pct;
  .field-name-title {
    width: auto;
  }
}



.show-hide-header {
  margin-top: $gutter-width;
  border-bottom: 1px solid $orange_dark;
  overflow: hidden;
  margin-bottom: $gutter-width;
  cursor: pointer;
  clear: both;

  .title {
    font-size: 20px;
    color: $blue;
    font-weight: bold;
    float: left;
  }
  .show,
  .hide {
    float: right;
    color: $orange_dark;
  }
}

.show,
.init-collapsed .body,
.collapsed .hide {
  display: none;
}

.collapsed .show {
  display: block;
}


// The input field styling
.new,
.role,
.task,
.skill {
  .form-item input {
     width: 97%;
  }
}

.role {
  input.form-submit {
    bottom: -17px;
  }
}

.scratch .role {
  input.form-submit {
    bottom: 0;
  }
}

.skills .new,
.skill {
  .form-item-title {
    padding-right: 5*$icon_width;
  }
  .field-name-body .form-item {
    padding-right: 3*$icon_width;
  }
}


.roles .content {
  .add-link,
  form.new {
    border: $border;
    background: $grey_bg_darker;
    padding: $gutter-width $gutter-pct;
    position: relative;
    a {
      background: $sprites;
      background-position: -1195px -300px;
      padding-left: $icon_width;
      height: $icon_width;
      line-height: $icon_width;
      color: $black;
      display: block;
    }
  }

  // delete and edit button
  .delete,
  .edit,
  .save {
    @include icon;
    display: none;
    position: absolute;
    top: $gutter-width;
  }
  .edit {
    background-position: -154px -567px;
    right: $icon_width + $gutter-width;
  }
  .delete {
    background-position: -154px -605px;
    right: $gutter-width;
  }
  .save {
    background-position: -154px -534px;
  }

  .skill,
  .talent {
    .edit,
    .save {
      right: 5*$icon_width + $gutter-width;
    }
    .delete {
      right: 4*$icon_width + $gutter-width;

    }
  }

  .skill,
  .task,
  .role,
  .talent {
    // Handle mouseover effect
    &:hover {
      .edit,
      .delete {
        display: block;
      }
    }

    .edit-link,
    .delete-link,
    .save-link,
    .flame-links {
      display: none;
    }
  }

  .updated .save {
    display: block;
  }





  // Some autocomplete magic
  #autocomplete {
    div:hover {
      .edit,
      .delete {
         display: none;
      }
    }
    li {
      color: $black;
      white-space: normal;
      &.selected div {
        background-color: $grey_bg_darker;
      }
    }
    .highlight {
      background-color: $orange_dark;
    }

    .new-empty {
      font-weight: bold;
      text-align: center;
      background-color: $grey_bg_darker;
      cursor: pointer;
      &:hover {
        background-color: $orange_dark;
      }
      span {
        font-weight: normal;
      }
    }
    div {
      overflow: hidden;
    }

  }

  form.selected {
    .autocomplete {
      display: none;
    }
    div.new {
      display: block;
    }
  }

  .skills,
  .behavioral,
  .business {
    div.new {
      display: none;
    }
  }


  // Some form items
  textarea {
    height: 5em;
  }


  .existing {
    display: none;
    label {
      display: inline-block;
    }
    #autocomplete {
       .role {
         padding: 0;
       }
      .field-name-title {
        font-weight: normal;
        font-size: inherit;
        color: $black;
        min-height: 0;
        float: none;
      }
    }
  }
  .scratch {
    display: none;
  }

}

.tf-module.roles {
  .new,
  .task {
    .form-item {
      margin: 0;
    }
    .form-type-textfield {
      padding-right: 5*$icon_width;
    }
    .form-item-autocomplete {
      padding-right: 3*$icon_width;
    }
    input.form-autocomplete {
//      width: 100%;
//      margin-bottom: 1px;
    }
  }

  .business-help,
  .behavioral-help {
    font-size: 70%;
    .show-hide-header {
      border: 0;
      .title {
        font-size: 100%;
        padding-left: $gutter-pct;
      }
      .show,
      .hide {
        display: none;
      }
    }
    .talent {
      float: left;
      clear: none;
      background-color: transparent;
      border: 0;
      padding-top: 0;
      padding-right: 0;
    }
  }
}


/**************
**************/
.persons-widget {
  font-size: 90%;
  position: absolute;
  background: $grey_bg;
  z-index: 5;
  width: 85%;
  left: 10%;
  border: 1px solid $grey_light;
  border-top: 0px;
  .person {
    border-top: 1px solid $grey_light;
    position: relative;
  }
  .field-name-field-avatar {
    width: $icon_width + $gutter-width;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
  }
  .assign-to-link {
    margin-left: $icon_width + 2*$gutter-width;
    height: $icon_width + 2*$gutter-width;
    a {
      padding: 0 10px;
      line-height: 1.4;
      display: table-cell;
      height: $icon_width + 2*$gutter-width;
      vertical-align: middle;
      background: none;
      &:hover {
        background: none;
      }
    }
  }
}


/**************
Person Details
**************/
.person-details {
  $col1_width: 30%;
  $col2_width: 100% - $col1_width - $gutter-pct;

  .col-1,
  .col-2 {
    display: inline-block;
    vertical-align: top;
    position: relative;
  }
  .col-1 {
    width: $col1_width;
    margin-right: $gutter-pct;
  }
  .col-2 {
    width: $col2_width;
  }

  .tabs div {
    width: 27.8%;
    &:nth-child(3) {
      margin-right: 0;
    }
  }

  .new {
    padding: $gutter-width;
  }

  .field {
    &.field-name-field-first-name {
      float: left;
      margin-right: $gutter-width;
    }
    &.field-name-field-first-name,
    &.node-person.field-name-title {
      text-transform: uppercase;
      font-size: 1.4em;
      color: $grey_light;
    }
    .field-label {
      font-size: 80%;
      color: $orange_dark;
      text-transform: lowercase;
      font-weight: normal;
      line-height: 70%;
      margin-top: $gutter-width;
    }
    img {
      width: 100%;
    }
  }

  a.btn.edit {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
  }

  .person:hover a.btn.edit {
    display: block;
  }



  .evaluation {
//    margin: 4*$gutter-width 0 2*$gutter-width 0;
    margin-top: $gutter-width;
    position: relative;
    overflow: hidden;
    .title {
      float: left;
    }
    .score {
      float: right;
    }
    a {
      padding-left: $icon_width;
      display: block;
      background: url(../images/calendar.png) no-repeat;
      background-size: auto 100%;
    }
  }

  .add-evaluation {
    margin-top: 2* $gutter-width;
    a {
      display: block;
    }
  }

}

.person-details {
  .skills > .skill,
  .remark,
  .talent {
    &.last {
       border-bottom: $border;
    }
  }
}

.display-person-details,
.display-person-edit {
  &.role {
    position: relative;
    padding: 0;
    background-color: transparent;
    border: 0;
    .unassign {
      position: absolute;
      top: -5px;
      right: 0;
      display: none;
    }
    &:hover .unassign {
      display: block;
    }
    .title {
      font-weight: bold;
    }
  }
}


// Remarks
.remark {
  .skill,
  .talent_attribute {
    border-right: none;
    border-bottom: none;
    border-top: none;
    margin-left: 2*$gutter-pct;
  }
  .edit {
    position: absolute;
    top: $gutter-width;
    right: $gutter-pct;
    display: none;
  }
  &:hover .edit {
    display: block;
  }
}

.date {
  font-size: .7em;
}




/***********
Person Edit
***********/
.person-edit {
  position: relative;
  .col-1,
  .col-2,
  .col-3 {
    float: left;
//    overflow: hidden;
  }
  .col-1,
  .col-3 {
    width: 39%;
    margin-right: 1%;
    clear: left;
  }
  .col-2 {
    float: right;
    width: 60%;
  }

  .avatar,
  .cv,
  .motivation {
    position: relative;
    .remove,
    .add,
    .edit {
      cursor: pointer;
      position: absolute;
//      left: 2*$gutter-pct;
      right: 2*$gutter-pct;
      bottom: 0;
      display: none;
    }

    &:hover {
      &.defined .remove,
      &.defined .edit,
      &.removed .add {
        display: block
      }
    }

    .file-defined,
    .file-removed {
      display: none;
      height: $icon_width;
      background: $sprites;
      padding-left: $icon_width;
      line-height: $icon_width;
      font-size: .8em;
    }

    &.defined .file-defined,
    &.removed .file-removed {
      display: block;
    }

    .file-defined {
      color: $blue;
      cursor: pointer;
      &:hover {
        color: $orange_dark;
      }
    }
  }

  .avatar {
    padding: $gutter-width/2;
    .remove,
    .add,
    .edit {
      background-color: white;
      background-color: rgba(255,255,255,.8);
      color: $black;
      height: 20px;
      line-height: 20px;
      padding: 10% 0;
      text-align: center;
      bottom: 3*$gutter-pct;
    }
    .remove {
      top: 2*$gutter-pct;
      height: 20px;
      line-height: 20px;
      padding: 0;
    }
  }

  .cv,
  .motivation {
    .add,
    .remove {
      width: $icon_width;
      height: $icon_width;
      text-indent: -9999px;
      background: $sprites;
    }
    .add {
      background-position: -1195px -300px;
    }
    .remove {
      background-position: -154px -605px;
    }
  }
  .cv {
    .file-defined {
      background-position: -1190px -224px;
    }
    .file-removed {
      background-position: -1190px -162px;
    }
  }

  .motivation {
    .file-defined {
      background-position: -1190px -249px;
    }
    .file-removed {
      background-position: -1190px -196px;
    }
  }


  .form-item,
  .field-type-datetime {
    clear: both;
    overflow: hidden;
  }

  label {
    width: 40%;
    float: left;
  }
  input.form-text {
    width: 100% - $gutter-pct - 40%;
    border: 0;
    float: left;
    clear: right;
    padding: $gutter-pct/2;
    @include border-radius;
  }

  select {
    width: 59%;
  }

  .field-type-datetime .description {
    display: none;
  }
  .field-type-phone-number .form-type-textfield input {
    margin-left: 40%;
  }

  .field-name-field-cv,
  .field-name-field-motivation,
  .form-wrapper.field-name-field-avatar {
    clear: both;
    display: none;
  }
}

.candidates-page,
.feedback {
  .person-edit {
    .col-1 {
      width: 28%;
    }
    .col-2 {
      width: 40%;
      float: left;
    }
    .col-3 {
      width: 30%;
      margin: 0 0 0 1%;
      clear: right;
    }
  }
}

.field-name-field-avatar {
  @include shadow;
  @include border-radius;
  background-color: #fff;
  padding: $gutter-pct;
  margin-bottom: 2*$gutter-pct;
  img {
    width: 100%;
  }
}


//////// ADMIN ///////
.tf-module.admin {
  .tf-region.content > div,
  .new {
    clear: both;
  }
  .person,
  .role,
  .admins .user {
    width: 50%-(3*$gutter-pct);
    padding: $gutter-pct;
    margin-right: $gutter-pct;
    margin-bottom: $gutter-pct;
    float: left;
    @include shadow;
    @include border-radius;
    &:hover {
      @include box-shadow(0px 2px 2px 2px $orange_light_t);
      cursor: move;
    }
  }
  .person {
    .field {
      float: left;
    }
    .field-name-field-avatar {
      width: $icon_width;
      @include box-shadow(none);
      @include border-radius(none);
      margin: 0;

    }
    .full-name {
      line-height: $icon_width;
      margin-left: $gutter-pct;
    }
  }

  .admins .user {
    .name {
      float: left;
    }
    .edit {
      float: right;
    }
  }


  .companies {
    .item {
      &.dnd-active .title {
        color: $blue;
      }
      &.dnd-hover .title {
        color: $orange_light;
      }
    }
  }
}






tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages { /*Important messages (status, warning, and error) for the user.
                 See also the declarations in messages.css. */
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */

  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
}

div.status { /* Normal priority messages */
}

div.warning,
tr.warning { /* Medium priority messages */
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error { /*High priority messages. See also the .error declaration below. */
}

.error { /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning { /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

.tabs { /* See also the tabs.css file. */
}

.region-help { /* Help text on a page */
}

.more-help-link { /* Link to more help */
}

.region-content { /* Wrapper for the actual page content */
}

ul.inline { /* List of links generated by theme_links() */
  display: inline;
  padding: 0;

  li {
    display: inline;
    list-style-type: none;
    padding: 0 1em 0 0; /* LTR */
  }
}
span.field-label { /* The inline field label used by the Fences module */
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager { /* A list of page numbers when
                                   more than 1 page of content is available */
  padding: 0;

  li { /* Each page number in the pager list */
    padding: 0 0.5em;
  }
}

.feed-icon { /*Link to the RSS or Atom feed for the current list of content */
}

.more-link { /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */

.region-sidebar-first {
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */

.region-sidebar-second {
}

/*
 * Footer
 */

#footer {
}

/*
 * Page bottom
 */

.region-bottom { /* Wrapper for any blocks placed in the page bottom region */
}
